/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/_local.scss */
.power-title {
  font-family: 'Lobster Two',"Trebuchet MS", Tahoma, cursive;
  font-style: italic;
  font-size: 4em;
  font-weight: bold;
}

/* line 11, ../sass/_local.scss */
.power-subtitle {
  color: #f0f;
  font-size: 2.5em;
  font-family: 'Lobster Two',"Trebuchet MS", Tahoma, cursive;
  font-style: italic;
  letter-spacing: .1em;
}

/* line 19, ../sass/_local.scss */
#power-message-container {
  height: 356px;
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

/* line 26, ../sass/_local.scss */
.power-message {
  float: left;
  padding: 50px;
  width: 700px;
  position: absolute;
  z-index: 2;
  opacity: .9;
}
/* line 33, ../sass/_local.scss */
.power-message p {
  padding-top: 30px;
  line-height: 1.2em;
  font-family: "Trebuchet MS", Tahoma;
  letter-spacing: 0em;
}

/* line 41, ../sass/_local.scss */
#slide-buttons {
  position: absolute;
  top: 330px;
  text-align: right;
  width: 100%;
  z-index: 10;
}

/* line 49, ../sass/_local.scss */
.slide-button {
  cursor: pointer;
  display: inline-block;
  height: 16px;
  width: 16px;
  background-color: #606;
  border: 1px solid #000;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
/* line 57, ../sass/_local.scss */
.slide-button.active {
  background-color: #b0b;
}

/* line 61, ../sass/_local.scss */
.slide-button:hover {
  background-color: #f0f;
}

/* line 66, ../sass/_local.scss */
.padme50 {
  padding: 50px;
}

/* line 69, ../sass/_local.scss */
.center {
  text-align: center;
}

/* line 73, ../sass/_local.scss */
.slide {
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity 1.5s;
  -moz-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

/* line 79, ../sass/_local.scss */
#slide1 .power-message {
  width: 450px;
  top: 10px;
  left: 40px;
}

/* line 84, ../sass/_local.scss */
#slide2 .power-message {
  left: 560px;
  top: 20px;
  text-align: right;
  width: 500px;
}

/* line 90, ../sass/_local.scss */
#slide3 .power-message {
  top: -20px;
  left: 50px;
  width: 900px;
}
/* line 95, ../sass/_local.scss */
#slide3 .power-message p {
  position: relative;
  width: 300px;
}

/* line 100, ../sass/_local.scss */
.power-image {
  position: absolute;
}

/* line 103, ../sass/_local.scss */
#slide1 .power-image {
  left: 450px;
}

/* line 109, ../sass/_local.scss */
#slide4 .power-image {
  left: 550px;
  top: -44px;
}
/* line 115, ../sass/_local.scss */
#slide4 .power-message {
  left: 10px;
  top: 10px;
}

/* line 121, ../sass/_local.scss */
#slide2 .power-image {
  left: 0px;
  top: -50px;
}

/* line 126, ../sass/_local.scss */
#slide3 .power-image {
  top: -125px;
  left: 20px;
}

/* line 136, ../sass/_local.scss */
.logo.red.hidden,
.logo.blue.hidden,
.logo.yellow.hidden,
.logo.purple.hidden,
.logo-shadow.hidden,
.power-message-shadow.hidden,
.hidden {
  opacity: 0;
  -webkit-transition: opacity 1.5s;
  -moz-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

/* line 141, ../sass/_local.scss */
#power-message-shadow-container {
  position: relative;
  width: 100%;
}

/* line 145, ../sass/_local.scss */
.power-message-shadow {
  position: absolute;
  z-index: 1;
  opacity: .3;
  -webkit-transition: opacity 2.5s;
  -moz-transition: opacity 2.5s;
  -o-transition: opacity 2.5s;
  transition: opacity 2.5s;
}
/* line 152, ../sass/_local.scss */
.power-message-shadow.yellow {
  box-shadow: #fc0 0px 0px 400px 220px;
  left: 320px;
  top: 180px;
}
/* line 157, ../sass/_local.scss */
.power-message-shadow.red {
  box-shadow: #f00 0px 0px 600px 300px;
  left: 860px;
  top: -60px;
}
/* line 165, ../sass/_local.scss */
.power-message-shadow.purple {
  box-shadow: #f0f 0px 0px 500px 250px;
  left: 350px;
  top: 200px;
}

/* line 174, ../sass/_local.scss */
#logo-container {
  z-index: 2;
  position: absolute;
  margin-top: 0px;
  left: 0px;
  width: 100%;
  height: 150px;
}

/* line 183, ../sass/_local.scss */
.logo-shadow {
  opacity: .4;
  width: 200px;
  left: 120px;
  z-index: 1;
  position: absolute;
  -webkit-transition: opacity 1.5s;
  -moz-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s;
}
/* line 184, ../sass/_local.scss */
.logo-shadow.yellow {
  box-shadow: #fc0 0px 0px 200px 120px;
}
/* line 187, ../sass/_local.scss */
.logo-shadow.purple {
  box-shadow: #f0f 0px 0px 200px 120px;
}
/* line 190, ../sass/_local.scss */
.logo-shadow.red {
  box-shadow: #f00 0px 0px 300px 180px;
}
/* line 193, ../sass/_local.scss */
.logo-shadow.blue {
  box-shadow: #00f 0px 0px 300px 180px;
}

/* line 204, ../sass/_local.scss */
#header-stripe {
  position: absolute;
  width: 4000px;
  margin-left: -1500px;
  height: 120px;
  background: #000;
  opacity: .3;
  z-index: 2;
}

/* line 214, ../sass/_local.scss */
.logo {
  position: absolute;
  left: 50px;
  top: 25px;
  font-family: "Trebuchet MS";
  font-size: 1.1em;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0em;
  z-index: 3;
  opacity: .9;
  -webkit-transition: opacity 1.5s;
  -moz-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

/* line 228, ../sass/_local.scss */
.logo-201 {
  font-size: 1.9em;
  position: relative;
  top: -38px;
  left: 2px;
}

/* line 237, ../sass/_local.scss */
.red .logo-co-uk,
.red .logo-201,
.red .logo-digital {
  text-shadow: #f00 0px 0px 20px;
}
/* line 240, ../sass/_local.scss */
.red .logo-marketing {
  color: #e00;
}

/* line 247, ../sass/_local.scss */
.blue .logo-co-uk,
.blue .logo-201,
.blue .logo-digital {
  text-shadow: #00f 0px 0px 20px;
}
/* line 250, ../sass/_local.scss */
.blue .logo-marketing {
  color: #55f;
}

/* line 257, ../sass/_local.scss */
.yellow .logo-co-uk,
.yellow .logo-201,
.yellow .logo-digital {
  text-shadow: #fc0 0px 0px 20px;
}
/* line 260, ../sass/_local.scss */
.yellow .logo-marketing {
  color: #fc0;
}

/* line 267, ../sass/_local.scss */
.purple .logo-co-uk,
.purple .logo-201,
.purple .logo-digital {
  text-shadow: #f0f 0px 0px 20px;
}
/* line 270, ../sass/_local.scss */
.purple .logo-marketing {
  color: #f0f;
}

/* line 275, ../sass/_local.scss */
.logo-digital {
  font-size: 3.9em;
  position: relative;
  left: -10px;
}

/* line 280, ../sass/_local.scss */
.logo-co-uk {
  font-size: 1.2em;
  position: relative;
  left: -10px;
}

/* line 285, ../sass/_local.scss */
.logo-marketing {
  color: #f0f;
  font-size: 1.1em;
  position: relative;
  left: -168px;
  font-weight: normal;
  letter-spacing: 0em;
  top: 18px;
  text-shadow: none;
}

/* line 299, ../sass/_local.scss */
.icon-envelop:before, .icon-phone:before, .icon-facebook:before, .icon-twitter:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  padding-right: 10px;
  height: 40px;
}

/* line 312, ../sass/_local.scss */
.more-info-container {
  clear: both;
  padding-left: 80px;
  top: -60px;
  position: relative;
}

/* line 318, ../sass/_local.scss */
.more-info {
  margin-right: 10px;
  margin-bottom: 10px;
  font-family: "Trebuchet MS",Tahoma,Sans-Serif;
  font-size: 16px;
  padding: 0.3em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFF00FF', endColorstr='#FF990099');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff80ff), color-stop(50%, #ff00ff), color-stop(100%, #aa00aa));
  background: -webkit-linear-gradient(#ff80ff, #ff00ff 50%, #aa00aa);
  background: -moz-linear-gradient(#ff80ff, #ff00ff 50%, #aa00aa);
  background: -o-linear-gradient(#ff80ff, #ff00ff 50%, #aa00aa);
  background: linear-gradient(#ff80ff, #ff00ff 50%, #aa00aa);
  -webkit-box-shadow: #ffccff 0 1px 0 inset;
  -moz-box-shadow: #ffccff 0 1px 0 inset;
  box-shadow: #ffccff 0 1px 0 inset;
  border: 1px solid #900090;
  color: white;
  text-shadow: #b700b7 0 -1px 0;
}
/* line 15, ../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.more-info:hover {
  text-decoration: none;
}
/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.more-info:hover {
  background-color: #aa00aa;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff75ff), color-stop(50%, #aa00aa), color-stop(100%, #810081));
  background: -webkit-linear-gradient(#ff75ff, #aa00aa 50%, #810081);
  background: -moz-linear-gradient(#ff75ff, #aa00aa 50%, #810081);
  background: -o-linear-gradient(#ff75ff, #aa00aa 50%, #810081);
  background: linear-gradient(#ff75ff, #aa00aa 50%, #810081);
}
/* line 27, ../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.more-info:active {
  -webkit-box-shadow: #810081 0 1px 2px inset;
  -moz-box-shadow: #810081 0 1px 2px inset;
  box-shadow: #810081 0 1px 2px inset;
}
/* line 6, ../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.more-info.disabled, .more-info[disabled] {
  opacity: 0.6;
  background: #aa00aa;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
.more-info::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 324, ../sass/_local.scss */
.icon-envelop:before {
  content: "\e000";
}

/* line 327, ../sass/_local.scss */
.icon-phone:before {
  content: "\e001";
}

/* line 330, ../sass/_local.scss */
.icon-facebook:before {
  content: "\e002";
}

/* line 333, ../sass/_local.scss */
.icon-twitter:before {
  content: "\e003";
}

/* line 336, ../sass/_local.scss */
#contact-container {
  position: absolute;
  text-align: right;
  width: 100%;
  top: 30px;
  opacity: .8;
  margin-right: 0px;
}
/* line 344, ../sass/_local.scss */
#contact-container ul {
  text-align: left;
  display: inline-block;
  list-style: none;
  margin-left: 20px;
}
/* line 349, ../sass/_local.scss */
#contact-container ul li {
  padding: 2px;
  display: block;
}

/* line 356, ../sass/_local.scss */
body {
  background: #000;
  font-size: 1em;
  letter-spacing: 0.1em;
  font-family: "Trebuchet MS","Tahoma",Helvetica,Sans-Serif;
  font-weight: lighter;
  color: #fff;
}

/* line 365, ../sass/_local.scss */
#background-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* line 371, ../sass/_local.scss */
#background-position {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 1600px;
}

/* line 377, ../sass/_local.scss */
.background {
  height: 100%;
  width: 100%;
  max-width: 1600px;
  min-height: 600px;
  max-height: 1000px;
  position: absolute;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: .7;
}

/* line 389, ../sass/_local.scss */
body.background-carpark #background-b {
  background-image: url("../img/background-carpark/background1.jpg");
}

/* line 392, ../sass/_local.scss */
body.background-carpark #background-y {
  background-image: url("../img/background-carpark/background2.jpg");
}

/* line 395, ../sass/_local.scss */
body.background-carpark #background-p {
  background-image: url("../img/background-carpark/background3.jpg");
}

/* line 398, ../sass/_local.scss */
body.background-bridge #background-b {
  background-image: url("../img/background-bridge/background1.jpg");
}

/* line 401, ../sass/_local.scss */
body.background-bridge #background-y {
  background-image: url("../img/background-bridge/background2.jpg");
}

/* line 404, ../sass/_local.scss */
body.background-bridge #background-p {
  background-image: url("../img/background-bridge/background3.jpg");
}

/* line 408, ../sass/_local.scss */
#background-b {
  z-index: 1;
  -webkit-transition: opacity 10s;
  -moz-transition: opacity 10s;
  -o-transition: opacity 10s;
  transition: opacity 10s;
}

/* line 412, ../sass/_local.scss */
#background-y {
  z-index: 2;
  -webkit-transition: opacity 10s;
  -moz-transition: opacity 10s;
  -o-transition: opacity 10s;
  transition: opacity 10s;
}

/* line 416, ../sass/_local.scss */
#background-p {
  z-index: 3;
  -webkit-transition: opacity 10s;
  -moz-transition: opacity 10s;
  -o-transition: opacity 10s;
  transition: opacity 10s;
}

/* line 420, ../sass/_local.scss */
#foreground-container {
  position: absolute;
  margin-top: 30px;
  z-index: 1;
  width: 100%;
  height: 100%;
}

/* line 427, ../sass/_local.scss */
#foreground {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

/* line 437, ../sass/_local.scss */
#background-b.background-off,
#background-y.background-off,
#background-p.background-off {
  opacity: 0;
}

/* line 441, ../sass/_local.scss */
#page-container {
  width: 100%;
  height: 100%;
  position: relative;
}

/* line 446, ../sass/_local.scss */
.page-container {
  margin: 0 auto;
  width: 100%;
}

/* line 450, ../sass/_local.scss */
#header-container {
  position: relative;
  height: 130px;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

/* line 458, ../sass/_local.scss */
#main-content-container {
  width: 100%;
  margin-top: 10px;
}

/* line 462, ../sass/_local.scss */
#media-content-container {
  list-style: none;
  min-height: 250px;
  max-height: 250px;
  height: 100%;
  margin: 0 auto;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  padding: 40px;
  padding-left: 10px;
  padding-right: 0px;
  width: 1100px;
}
/* line 477, ../sass/_local.scss */
#media-content-container li {
  border-right: 1px solid #aaa;
  border-left: 1px solid #aaa;
  background: #111;
  background-image: -webkit-gradient(radial, 100% 100%, 0, 100% 100%, 100, color-stop(0%, #333333), color-stop(50%, #111111), color-stop(100%, #222222));
  background-image: -webkit-radial-gradient(right bottom, #333333 0%, #111111 50%, #222222 100%);
  background-image: -moz-radial-gradient(right bottom, #333333 0%, #111111 50%, #222222 100%);
  background-image: -o-radial-gradient(right bottom, #333333 0%, #111111 50%, #222222 100%);
  background-image: radial-gradient(right bottom, #333333 0%, #111111 50%, #222222 100%);
  position: relative;
  margin: 10px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  float: left;
  width: 29%;
  padding: 10px;
  height: 200px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 495, ../sass/_local.scss */
#media-content-container li .media-content {
  position: absolute;
  opacity: 1;
  padding: 10px;
}
/* line 500, ../sass/_local.scss */
#media-content-container li .media-content h1 {
  text-align: center;
  font-family: "Trebuchet MS",Tahoma;
  font-size: 1.7em;
  margin-bottom: 10px;
}
/* line 506, ../sass/_local.scss */
#media-content-container li .media-content p {
  text-align: justify;
  font-weight: normal;
  font-family: Sans-serif;
  font-size: .9em;
  line-height: 1.2em;
  letter-spacing: .1em;
}
/* line 517, ../sass/_local.scss */
#media-content-container:after {
  margin-right: 0px;
  content: '';
  width: 100%;
  display: inline-block;
  font-size: 0;
}

/* line 528, ../sass/_local.scss */
#internal-content {
  font-size: 1em;
  margin-top: 80px;
  padding-bottom: 20px;
  vertical-align: top;
}
/* line 534, ../sass/_local.scss */
#internal-content h1.title1 {
  font-size: 2.5em;
}
/* line 537, ../sass/_local.scss */
#internal-content h1.title2 {
  font-size: 5em;
  padding-left: 50px;
  position: relative;
  top: -20px;
  color: #f0f;
}
/* line 545, ../sass/_local.scss */
#internal-content div {
  padding: 50px;
  padding-top: 0px;
  width: 50%;
  float: left;
  display: inline-block;
}
/* line 553, ../sass/_local.scss */
#internal-content p {
  padding-top: 30px;
  font-size: 1.2em;
}
/* line 558, ../sass/_local.scss */
#internal-content img {
  position: relative;
  top: -120px;
  float: right;
}

/* line 565, ../sass/_local.scss */
.media-rule-top {
  width: 100%;
  height: 2px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iMTUlIiBzdG9wLWNvbG9yPSIjYWEwMGFhIi8+PHN0b3Agb2Zmc2V0PSI4NSUiIHN0b3AtY29sb3I9IiNhYTAwYWEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #000000), color-stop(15%, #aa00aa), color-stop(85%, #aa00aa), color-stop(100%, #000000), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(left, #000000 0%, #aa00aa 15%, #aa00aa 85%, #000000 100%, #000000);
  background-image: -moz-linear-gradient(left, #000000 0%, #aa00aa 15%, #aa00aa 85%, #000000 100%, #000000);
  background-image: -o-linear-gradient(left, #000000 0%, #aa00aa 15%, #aa00aa 85%, #000000 100%, #000000);
  background-image: linear-gradient(left, #000000 0%, #aa00aa 15%, #aa00aa 85%, #000000 100%, #000000);
}

/* line 571, ../sass/_local.scss */
.media-rule-bottom {
  width: 100%;
  height: 1px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iMzAlIiBzdG9wLWNvbG9yPSIjODgwMDg4Ii8+PHN0b3Agb2Zmc2V0PSIzMCUiIHN0b3AtY29sb3I9IiM4ODAwODgiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #000000), color-stop(30%, #880088), color-stop(30%, #880088), color-stop(100%, #000000), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(left, #000000 0%, #880088 30%, #880088 30%, #000000 100%, #000000);
  background-image: -moz-linear-gradient(left, #000000 0%, #880088 30%, #880088 30%, #000000 100%, #000000);
  background-image: -o-linear-gradient(left, #000000 0%, #880088 30%, #880088 30%, #000000 100%, #000000);
  background-image: linear-gradient(left, #000000 0%, #880088 30%, #880088 30%, #000000 100%, #000000);
}

/* line 578, ../sass/_local.scss */
#main-content {
  vertical-align: top;
}
/* line 581, ../sass/_local.scss */
#main-content h1.title {
  position: relative;
  font-size: 1.8em;
  margin-top: 40px;
  padding-bottom: 20px;
}

/* line 589, ../sass/_local.scss */
#footer-container {
  position: relative;
  clear: both;
  text-align: center;
  vertical-align: bottom;
  opacity: .5;
}
/* line 595, ../sass/_local.scss */
#footer-container .rule {
  width: 100%;
  height: 1px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #000000), color-stop(50%, #ffffff), color-stop(100%, #000000), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(left, #000000 0%, #ffffff 50%, #000000 100%, #000000);
  background-image: -moz-linear-gradient(left, #000000 0%, #ffffff 50%, #000000 100%, #000000);
  background-image: -o-linear-gradient(left, #000000 0%, #ffffff 50%, #000000 100%, #000000);
  background-image: linear-gradient(left, #000000 0%, #ffffff 50%, #000000 100%, #000000);
  margin-bottom: 20px;
}

/* line 603, ../sass/_local.scss */
#main-content {
  width: 68%;
  display: inline-block;
  height: 100%;
}

/* line 609, ../sass/_local.scss */
#side-content {
  display: none;
  font-size: .9em;
  width: 30%;
  position: absolute;
  display: inline-block;
  height: 100%;
}

/* line 617, ../sass/_local.scss */
.side-content-background {
  margin-top: 20px;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: .4;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: opacity 10s;
  -moz-transition: opacity 10s;
  -o-transition: opacity 10s;
  transition: opacity 10s;
}

/* line 627, ../sass/_local.scss */
.display-off {
  display: none;
}

/* line 630, ../sass/_local.scss */
#side-content-background-b {
  background-color: #22f;
  z-index: 3;
}

/* line 634, ../sass/_local.scss */
#side-content-background-p {
  background-color: #d33;
  z-index: 2;
}

/* line 638, ../sass/_local.scss */
#side-content-background-y {
  background-color: #c2c;
  z-index: 1;
}

/* line 642, ../sass/_local.scss */
.side-content-background.background-off {
  opacity: 0;
}

/* line 646, ../sass/_local.scss */
#side-content-foreground {
  position: absolute;
  vertical-align: top;
  z-index: 4;
  float: right;
  padding: 20px;
  padding-top: 0px;
}
/* line 653, ../sass/_local.scss */
#side-content-foreground h1 {
  font-size: 1.9em;
  padding-bottom: 20px;
}
/* line 658, ../sass/_local.scss */
#side-content-foreground p {
  font-size: 1.1em;
}
/* line 661, ../sass/_local.scss */
#side-content-foreground .side-content-box {
  padding-top: 50px;
}

/* line 667, ../sass/_local.scss */
#side-content-foreground2 {
  position: absolute;
  vertical-align: top;
  z-index: 4;
  padding: 20px;
  padding-top: 0px;
}
/* line 673, ../sass/_local.scss */
#side-content-foreground2 h1 {
  font-size: 1.9em;
  padding-bottom: 20px;
}
/* line 678, ../sass/_local.scss */
#side-content-foreground2 p {
  font-size: 1.1em;
}
/* line 681, ../sass/_local.scss */
#side-content-foreground2 .side-content-box {
  width: 30%;
  margin-left: 30px;
  float: left;
  display: inline-block;
  padding-top: 50px;
}

/* line 692, ../sass/_local.scss */
#home-button-container ul {
  margin: 0 auto;
  max-width: 1100px;
  list-style: none;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  font-size: .8em;
}
/* line 701, ../sass/_local.scss */
#home-button-container ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding-bottom: 30px;
  padding-right: 10px;
}
/* line 709, ../sass/_local.scss */
#home-button-container ul li.navon {
  color: #f4f;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url("../img/navigation-pointer.png");
}
/* line 716, ../sass/_local.scss */
#home-button-container ul:after {
  padding-right: 0px;
  content: '';
  width: 100%;
  display: inline-block;
  font-size: 0;
}

/* line 728, ../sass/_local.scss */
#home-button-container2 ul {
  padding: 50px;
  margin: 0 auto;
  list-style: none;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}
/* line 736, ../sass/_local.scss */
#home-button-container2 ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding-bottom: 30px;
  padding-right: 10px;
}
/* line 744, ../sass/_local.scss */
#home-button-container2 ul li.navon {
  color: #f4f;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url("../img/navigation-pointer.png");
}
/* line 751, ../sass/_local.scss */
#home-button-container2 ul:after {
  padding-right: 0px;
  content: '';
  width: 100%;
  display: inline-block;
  font-size: 0;
}

/* line 761, ../sass/_local.scss */
.home-button-container {
  float: left;
  cursor: pointer;
}

/* line 766, ../sass/_local.scss */
.home-button {
  height: 150px;
  width: 350px;
  position: relative;
}

/* line 772, ../sass/_local.scss */
.home-button-content {
  position: absolute;
  z-index: 2;
}
/* line 775, ../sass/_local.scss */
.home-button-content img {
  padding-top: 28px;
  padding-left: 16px;
  width: 90px;
}
/* line 780, ../sass/_local.scss */
.home-button-content h1 {
  position: absolute;
  margin-left: 95px;
  font-size: 2.4em;
  letter-spacing: 0em;
  top: 72px;
  width: 230px;
  text-align: center;
  font-weight: lighter;
  font-family: "Trebuchet MS";
}
/* line 791, ../sass/_local.scss */
.home-button-content h2 {
  width: 230px;
  position: absolute;
  margin-left: 95px;
  font-size: 1.3em;
  top: 50px;
  text-align: center;
  color: #B3AEB7;
  letter-spacing: 0em;
}

/* line 803, ../sass/_local.scss */
.home-button-hover,
.home-button-border {
  z-index: 1;
  position: absolute;
  border: 1px solid #fff;
  opacity: .3;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  background: #f0f;
}

/* line 811, ../sass/_local.scss */
.home-button-hover {
  background: #e0e;
  /*   @include background-image(linear-gradient(bottom left,#a1a 40%,#616 60%, #616 80%, #a1a 100%));  */
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/* line 816, ../sass/_local.scss */
.home-button-hover.dormant {
  opacity: 0;
}

/* line 822, ../sass/_local.scss */
#mailing-list input {
  padding: 10px;
  background-color: #fff;
  border: 2px solid #909;
  margin-top: 10px;
  width: 200px;
  font-size: 1em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 832, ../sass/_local.scss */
#mailing-list button {
  padding: 5px;
  font-size: .9em;
}

/* line 840, ../sass/_local.scss */
#from-our-blog p,
#latest-news p {
  padding-bottom: 10px;
}

/* line 846, ../sass/_local.scss */
a,
a:link,
a:visited {
  color: #f9f;
  text-decoration: none;
}

/* line 850, ../sass/_local.scss */
a:hover {
  color: #f0f;
  text-decoration: none;
}

/* line 855, ../sass/_local.scss */
#navigation-container {
  font-family: 'Lobster Two',"Trebuchet MS", Tahoma, cursive;
  font-style: italic;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  z-index: 2;
  top: 80px;
  font-size: 1.3em;
  position: absolute;
  text-align: right;
  margin-right: 100px;
}
/* line 867, ../sass/_local.scss */
#navigation-container a {
  height: 20px;
  transition: color 1s;
  -moz-transition: color 1s;
  -webkit-transition: color 1s;
  -o-transition: color 1s;
}
/* line 876, ../sass/_local.scss */
#navigation-container a,
#navigation-container a:link,
#navigation-container a:visited {
  color: #fff;
}
/* line 879, ../sass/_local.scss */
#navigation-container a:hover {
  color: #f0f;
  text-decoration: none;
}
/* line 884, ../sass/_local.scss */
#navigation-container ul {
  display: inline-block;
  width: 400px;
  list-style: none;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}
/* line 892, ../sass/_local.scss */
#navigation-container ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 7px;
}
/* line 899, ../sass/_local.scss */
#navigation-container ul li.navon {
  color: #f4f;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url("../img/navigation-pointer.png");
}
/* line 906, ../sass/_local.scss */
#navigation-container ul:after {
  content: '';
  width: 100%;
  display: inline-block;
  font-size: 0;
}
