/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, C:/Program Files (x86)/ruby-1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Program Files (x86)/ruby-1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Program Files (x86)/ruby-1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Program Files (x86)/ruby-1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Program Files (x86)/ruby-1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Program Files (x86)/ruby-1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Program Files (x86)/ruby-1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Program Files (x86)/ruby-1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Program Files (x86)/ruby-1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/_local.scss */
.padme50 {
  padding: 50px;
}

/* line 5, ../sass/_local.scss */
.center {
  text-align: center;
}

/* line 9, ../sass/_local.scss */
.more-info {
  margin-right: 10px;
  margin-bottom: 10px;
  font-family: tahoma, "Trebuchet MS", verdana, arial;
  font-size: 16px;
  padding: 0.3em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF22BB22', endColorstr='#FF126512');
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc2ZTY3NiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMjJiYjIyIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDA5OTAwIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #76e676), color-stop(50%, #22bb22), color-stop(100%, #009900));
  background: -webkit-linear-gradient(#76e676, #22bb22 50%, #009900);
  background: -moz-linear-gradient(#76e676, #22bb22 50%, #009900);
  background: -o-linear-gradient(#76e676, #22bb22 50%, #009900);
  background: linear-gradient(#76e676, #22bb22 50%, #009900);
  -webkit-box-shadow: #b7f2b7 0 1px 0 inset;
  -moz-box-shadow: #b7f2b7 0 1px 0 inset;
  box-shadow: #b7f2b7 0 1px 0 inset;
  border: 1px solid green;
  color: white;
  text-shadow: #1b951b 0 -1px 0;
}
/* line 15, C:/Program Files (x86)/ruby-1.9.2/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.more-info:hover {
  text-decoration: none;
}
/* line 24, C:/Program Files (x86)/ruby-1.9.2/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.more-info:hover {
  background-color: #009900;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZlZTU2ZSIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMDA5OTAwIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDA3MDAwIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6ee56e), color-stop(50%, #009900), color-stop(100%, #007000));
  background: -webkit-linear-gradient(#6ee56e, #009900 50%, #007000);
  background: -moz-linear-gradient(#6ee56e, #009900 50%, #007000);
  background: -o-linear-gradient(#6ee56e, #009900 50%, #007000);
  background: linear-gradient(#6ee56e, #009900 50%, #007000);
}
/* line 27, C:/Program Files (x86)/ruby-1.9.2/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.more-info:active {
  -webkit-box-shadow: #007000 0 1px 2px inset;
  -moz-box-shadow: #007000 0 1px 2px inset;
  box-shadow: #007000 0 1px 2px inset;
}
/* line 6, C:/Program Files (x86)/ruby-1.9.2/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.more-info.disabled, .more-info[disabled] {
  opacity: 0.6;
  background: #009900;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, C:/Program Files (x86)/ruby-1.9.2/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
.more-info::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 16, ../sass/_local.scss */
#header-stripe {
  position: absolute;
  width: 4000px;
  margin-left: -1500px;
  height: 120px;
  background: #000;
  opacity: .3;
  z-index: 2;
}

/* line 26, ../sass/_local.scss */
#navigation-container {
  font-family: "Rufina";
  text-transform: lowercase;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  z-index: 2;
  top: 80px;
  font-size: 1.1em;
  position: absolute;
  text-align: right;
}
/* line 38, ../sass/_local.scss */
#navigation-container a {
  height: 20px;
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
}
/* line 44, ../sass/_local.scss */
#navigation-container a,
#navigation-container a:link,
#navigation-container a:visited {
  color: #fff;
}
/* line 47, ../sass/_local.scss */
#navigation-container a:hover {
  color: #f0f;
  text-decoration: none;
}
/* line 52, ../sass/_local.scss */
#navigation-container ul {
  padding-right: 60px;
  display: inline-block;
  width: 300px;
  list-style: none;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}
/* line 61, ../sass/_local.scss */
#navigation-container ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 7px;
}
/* line 68, ../sass/_local.scss */
#navigation-container ul li.navon {
  color: #f4f;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url("../img/navigation-pointer.png");
}
/* line 75, ../sass/_local.scss */
#navigation-container ul:after {
  content: '';
  width: 100%;
  display: inline-block;
  font-size: 0;
}

/* line 86, ../sass/_local.scss */
.icon-envelop:before, .icon-phone:before, .icon-facebook:before, .icon-twitter:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  padding-right: 10px;
  height: 40px;
}

/* line 99, ../sass/_local.scss */
.icon-envelop:before {
  content: "\e000";
}

/* line 102, ../sass/_local.scss */
.icon-phone:before {
  content: "\e001";
}

/* line 105, ../sass/_local.scss */
.icon-facebook:before {
  content: "\e002";
}

/* line 108, ../sass/_local.scss */
.icon-twitter:before {
  content: "\e003";
}

/* line 111, ../sass/_local.scss */
#contact-container {
  position: absolute;
  text-align: right;
  width: 100%;
  top: 30px;
  opacity: .8;
  margin-right: 0px;
}
/* line 119, ../sass/_local.scss */
#contact-container ul {
  text-align: left;
  display: inline-block;
  list-style: none;
  margin-left: 20px;
}
/* line 124, ../sass/_local.scss */
#contact-container ul li {
  padding: 2px;
  display: block;
}

/* line 131, ../sass/_local.scss */
body {
  background: #000;
  font-size: 1em;
  letter-spacing: 0em;
  font-family: tahoma, "Trebuchet MS", verdana, arial;
  font-weight: lighter;
  color: #fff;
}

/* line 140, ../sass/_local.scss */
#foreground-container {
  position: absolute;
  margin-top: 30px;
  z-index: 1;
  width: 100%;
  height: 100%;
}

/* line 147, ../sass/_local.scss */
#foreground {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

/* line 155, ../sass/_local.scss */
.page-container {
  margin: 0 auto;
  width: 100%;
  margin-top: 10px;
}

/* line 160, ../sass/_local.scss */
#header-container {
  position: relative;
  height: 130px;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

/* line 169, ../sass/_local.scss */
#media-content-container {
  list-style: none;
  height: 250px;
  margin: 0 auto;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  padding-top: 6px;
  padding-bottom: 40px;
  width: 100%;
  max-width: 1100px;
}
/* line 182, ../sass/_local.scss */
#media-content-container li:hover {
  background: #606;
}
/* line 185, ../sass/_local.scss */
#media-content-container li {
  position: relative;
  margin: 3px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  min-width: 290px;
  width: 30%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 196, ../sass/_local.scss */
#media-content-container li .media-content {
  position: absolute;
  opacity: 1;
  background-color: #101;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSI4MCUiIHN0b3AtY29sb3I9IiMxMTAwMTEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(80%, #110011), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #110011 80%, #000000 100%);
  background-image: -moz-linear-gradient(top, #110011 80%, #000000 100%);
  background-image: -o-linear-gradient(top, #110011 80%, #000000 100%);
  background-image: linear-gradient(top, #110011 80%, #000000 100%);
  height: 230px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
}
/* line 203, ../sass/_local.scss */
#media-content-container li .media-content h1 {
  padding: 8px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #202;
  text-align: center;
  font-family: "Rufina";
  color: #f6f;
  font-size: 2.5em;
  margin-bottom: 10px;
}
/* line 213, ../sass/_local.scss */
#media-content-container li .media-content p {
  padding: 15px;
  text-align: left;
  font-weight: normal;
  font-family: tahoma, "Trebuchet MS", verdana, arial;
  font-size: .8em;
  line-height: 1.2em;
  letter-spacing: .1em;
}
/* line 222, ../sass/_local.scss */
#media-content-container li .media-content form {
  padding: 15px;
}
/* line 227, ../sass/_local.scss */
#media-content-container:after {
  margin-right: 0px;
  content: '';
  width: 100%;
  display: inline-block;
  font-size: 0;
}

/* line 238, ../sass/_local.scss */
.media-rule-top {
  clear: both;
  width: 100%;
  height: 2px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iMTUlIiBzdG9wLWNvbG9yPSIjYWEwMGFhIi8+PHN0b3Agb2Zmc2V0PSI4NSUiIHN0b3AtY29sb3I9IiNhYTAwYWEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #000000), color-stop(15%, #aa00aa), color-stop(85%, #aa00aa), color-stop(100%, #000000), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(left, #000000 0%, #aa00aa 15%, #aa00aa 85%, #000000 100%, #000000);
  background-image: -moz-linear-gradient(left, #000000 0%, #aa00aa 15%, #aa00aa 85%, #000000 100%, #000000);
  background-image: -o-linear-gradient(left, #000000 0%, #aa00aa 15%, #aa00aa 85%, #000000 100%, #000000);
  background-image: linear-gradient(left, #000000 0%, #aa00aa 15%, #aa00aa 85%, #000000 100%, #000000);
}

/* line 244, ../sass/_local.scss */
.media-rule-bottom {
  clear: both;
  width: 100%;
  height: 1px;
  display: none;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iMzAlIiBzdG9wLWNvbG9yPSIjODgwMDg4Ii8+PHN0b3Agb2Zmc2V0PSI3MCUiIHN0b3AtY29sb3I9IiM4ODAwODgiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #000000), color-stop(30%, #880088), color-stop(70%, #880088), color-stop(100%, #000000), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(left, #000000 0%, #880088 30%, #880088 70%, #000000 100%, #000000);
  background-image: -moz-linear-gradient(left, #000000 0%, #880088 30%, #880088 70%, #000000 100%, #000000);
  background-image: -o-linear-gradient(left, #000000 0%, #880088 30%, #880088 70%, #000000 100%, #000000);
  background-image: linear-gradient(left, #000000 0%, #880088 30%, #880088 70%, #000000 100%, #000000);
}

/* line 252, ../sass/_local.scss */
#footer-container {
  position: relative;
  clear: both;
  text-align: center;
  vertical-align: bottom;
  font-weight: normal;
  opacity: .5;
  height: 150px;
  font-size: .8em;
}
/* line 261, ../sass/_local.scss */
#footer-container .rule {
  width: 100%;
  height: 1px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iMzAlIiBzdG9wLWNvbG9yPSIjODgwMDg4Ii8+PHN0b3Agb2Zmc2V0PSI3MCUiIHN0b3AtY29sb3I9IiM4ODAwODgiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #000000), color-stop(30%, #880088), color-stop(70%, #880088), color-stop(100%, #000000), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(left, #000000 0%, #880088 30%, #880088 70%, #000000 100%, #000000);
  background-image: -moz-linear-gradient(left, #000000 0%, #880088 30%, #880088 70%, #000000 100%, #000000);
  background-image: -o-linear-gradient(left, #000000 0%, #880088 30%, #880088 70%, #000000 100%, #000000);
  background-image: linear-gradient(left, #000000 0%, #880088 30%, #880088 70%, #000000 100%, #000000);
  margin-bottom: 20px;
}

/* line 270, ../sass/_local.scss */
.display-off {
  display: none;
}

/* line 274, ../sass/_local.scss */
#home-button-container {
  background-image: url("../img/backsun.png");
  background-position: center bottom;
  background-repeat: no-repeat;
}
/* line 279, ../sass/_local.scss */
#home-button-container span {
  position: absolute;
  height: 0px;
  width: 100%;
  opacity: .4;
  -webkit-box-shadow: white 0px 100px 200px 30px;
  -moz-box-shadow: white 0px 100px 200px 30px;
  box-shadow: white 0px 100px 200px 30px;
}
/* line 288, ../sass/_local.scss */
#home-button-container ul {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  max-width: 1100px;
  list-style: none;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  font-size: .8em;
}
/* line 299, ../sass/_local.scss */
#home-button-container ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding-bottom: 30px;
}
/* line 306, ../sass/_local.scss */
#home-button-container ul li.navon {
  color: #f4f;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url("../img/navigation-pointer.png");
}
/* line 313, ../sass/_local.scss */
#home-button-container ul:after {
  content: '';
  width: 100%;
  display: inline-block;
  font-size: 0;
}

/* line 322, ../sass/_local.scss */
.home-button-container {
  float: left;
  cursor: pointer;
}

/* line 327, ../sass/_local.scss */
.home-button {
  height: 150px;
  width: 320px;
  position: relative;
}

/* line 333, ../sass/_local.scss */
.home-button-content {
  position: absolute;
  z-index: 2;
}
/* line 338, ../sass/_local.scss */
.home-button-content img {
  padding-top: 32px;
  padding-left: 16px;
  width: 90px;
}
/* line 344, ../sass/_local.scss */
.home-button-content h1 {
  position: absolute;
  margin-left: 95px;
  font-size: 2.4em;
  letter-spacing: 0em;
  top: 72px;
  width: 225px;
  text-align: center;
  font-weight: lighter;
  font-family: tahoma, "Trebuchet MS", verdana, arial;
}
/* line 356, ../sass/_local.scss */
.home-button-content h2 {
  width: 225px;
  position: absolute;
  margin-left: 95px;
  font-size: 1.3em;
  top: 50px;
  text-align: center;
  color: #fff;
  letter-spacing: 0em;
}

/* line 369, ../sass/_local.scss */
.home-button-hover,
.home-button-hover.dormant,
.home-button-border {
  z-index: 1;
  position: absolute;
  border: 1px solid #fff;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  opacity: .3;
}

/* line 376, ../sass/_local.scss */
.home-button-hover {
  background: #f0f;
  opacity: .6;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/* line 381, ../sass/_local.scss */
.home-button-hover.dormant {
  opacity: 0;
  background: #f0f;
}

/* line 388, ../sass/_local.scss */
#mailing-list input {
  padding: 8px;
  background-color: #fcf;
  border: 1px solid #909;
  margin-top: 10px;
  width: 180px;
  font-size: .9em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 398, ../sass/_local.scss */
#mailing-list button {
  font-size: 15px;
  padding: 0.3em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFF00FF', endColorstr='#FF990099');
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmODBmZiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmYwMGZmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYWEwMGFhIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff80ff), color-stop(50%, #ff00ff), color-stop(100%, #aa00aa));
  background: -webkit-linear-gradient(#ff80ff, #ff00ff 50%, #aa00aa);
  background: -moz-linear-gradient(#ff80ff, #ff00ff 50%, #aa00aa);
  background: -o-linear-gradient(#ff80ff, #ff00ff 50%, #aa00aa);
  background: linear-gradient(#ff80ff, #ff00ff 50%, #aa00aa);
  -webkit-box-shadow: #ffccff 0 1px 0 inset;
  -moz-box-shadow: #ffccff 0 1px 0 inset;
  box-shadow: #ffccff 0 1px 0 inset;
  border: 1px solid #900090;
  color: white;
  text-shadow: #b700b7 0 -1px 0;
  font-size: .9em;
  font-family: tahoma, "Trebuchet MS", verdana, arial;
  padding: 6px;
}
/* line 15, C:/Program Files (x86)/ruby-1.9.2/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#mailing-list button:hover {
  text-decoration: none;
}
/* line 24, C:/Program Files (x86)/ruby-1.9.2/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#mailing-list button:hover {
  background-color: #aa00aa;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNzVmZiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjYWEwMGFhIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjODEwMDgxIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff75ff), color-stop(50%, #aa00aa), color-stop(100%, #810081));
  background: -webkit-linear-gradient(#ff75ff, #aa00aa 50%, #810081);
  background: -moz-linear-gradient(#ff75ff, #aa00aa 50%, #810081);
  background: -o-linear-gradient(#ff75ff, #aa00aa 50%, #810081);
  background: linear-gradient(#ff75ff, #aa00aa 50%, #810081);
}
/* line 27, C:/Program Files (x86)/ruby-1.9.2/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#mailing-list button:active {
  -webkit-box-shadow: #810081 0 1px 2px inset;
  -moz-box-shadow: #810081 0 1px 2px inset;
  box-shadow: #810081 0 1px 2px inset;
}
/* line 6, C:/Program Files (x86)/ruby-1.9.2/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#mailing-list button.disabled, #mailing-list button[disabled] {
  opacity: 0.6;
  background: #aa00aa;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, C:/Program Files (x86)/ruby-1.9.2/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
#mailing-list button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 407, ../sass/_local.scss */
#from-our-blog p,
#latest-news p {
  padding-bottom: 10px;
}

/* line 413, ../sass/_local.scss */
a,
a:link,
a:visited {
  color: #f9f;
  text-decoration: none;
}

/* line 417, ../sass/_local.scss */
a:hover {
  color: #0f0;
  text-decoration: none;
}

/*************** ABOUT US ****************/
/* line 424, ../sass/_local.scss */
#aboutus {
  width: 100%;
  height: 800px;
}
/* line 427, ../sass/_local.scss */
#aboutus .power-image {
  text-align: right;
  width: 100%;
  top: 20px;
}
/* line 432, ../sass/_local.scss */
#aboutus p {
  padding-left: 50px;
  width: 600px;
}

/* line 438, ../sass/_local.scss */
#invitation {
  text-align: center;
  width: 840px;
  margin: 0 auto;
}
/* line 443, ../sass/_local.scss */
#invitation .invite-top {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  margin: 0 auto;
  width: 100%;
  background-color: #999;
  padding-top: 70px;
  background-image: url("../img/201d.png");
  background-repeat: no-repeat;
  background-position: 700px 40px;
}
/* line 454, ../sass/_local.scss */
#invitation .invite-top h1 {
  margin: 20px;
  margin-top: 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
  text-align: left;
}
/* line 461, ../sass/_local.scss */
#invitation .invite-top h2.power-title {
  padding-top: 20px;
  text-align: center;
  color: #808;
  font-size: 3em;
  margin-bottom: 40px;
}
/* line 469, ../sass/_local.scss */
#invitation .invite-top .invite-middle {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  margin-bottom: 20px;
}
/* line 477, ../sass/_local.scss */
#invitation .invite-top .invite-middle p {
  padding: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: .9em;
  color: #777;
  letter-spacing: 0em;
  line-height: 1.2em;
  font-weight: normal;
}
/* line 490, ../sass/_local.scss */
#invitation .invite-top .rsvp-details {
  letter-spacing: 0em;
  padding: 6px;
  color: #555;
  font-size: 1.2em;
}
/* line 497, ../sass/_local.scss */
#invitation .invite-top h3 {
  font-size: 1.8em;
  padding-bottom: 20px;
}
/* line 501, ../sass/_local.scss */
#invitation .invite-top .invite-footer {
  background: #606;
  margin-top: 20px;
  border-top: 1px solid #fff;
  padding: 30px;
  padding-left: 160px;
  padding-right: 160px;
  letter-spacing: 0em;
  clear: both;
  text-align: center;
}
/* line 511, ../sass/_local.scss */
#invitation .invite-top .invite-footer .social-links {
  width: 140px;
  margin: 30px auto;
  height: 50px;
}
/* line 517, ../sass/_local.scss */
#invitation .invite-top .invite-footer .social-links li {
  width: 100px;
  height: 20px;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 20px;
  background-image: url("../img/icons-social.png");
  background-repeat: none;
  float: left;
  display: inline-block;
}

/* line 1, ../sass/_power-message-slides.scss */
.power-title {
  font-family: "Rufina";
  font-size: 4em;
  font-weight: bold;
  letter-spacing: 0em;
  font-weight: 700;
}

/* line 8, ../sass/_power-message-slides.scss */
.power-subtitle {
  color: #f0f;
  font-size: 2.5em;
  font-family: "Rufina";
  letter-spacing: 0em;
  font-weight: 700;
}

/* line 16, ../sass/_power-message-slides.scss */
#power-message-container {
  height: 356px;
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

/* line 26, ../sass/_power-message-slides.scss */
.slide {
  position: absolute;
  opacity: 1;
  width: 100%;
  height: 356px;
  max-width: 1100px;
  -webkit-transition: opacity 1.5s;
  -moz-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

/* line 35, ../sass/_power-message-slides.scss */
#slide-buttons {
  position: absolute;
  top: 330px;
  text-align: right;
  width: 100%;
  left: -30px;
  z-index: 10;
}

/* line 44, ../sass/_power-message-slides.scss */
.slide-button {
  cursor: pointer;
  display: inline-block;
  height: 16px;
  width: 16px;
  background-color: #606;
  border: 1px solid #000;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
/* line 52, ../sass/_power-message-slides.scss */
.slide-button.active {
  background-color: #b0b;
}

/* line 56, ../sass/_power-message-slides.scss */
.slide-button:hover {
  background-color: #090;
}

/* line 60, ../sass/_power-message-slides.scss */
.power-image {
  position: absolute;
  width: 100%;
  max-width: 1100px;
  height: 356px;
}

/* line 66, ../sass/_power-message-slides.scss */
.power-message {
  margin-top: 50px;
  width: 100%;
  position: absolute;
  z-index: 2;
  opacity: .9;
  padding-left: 50px;
  padding-right: 50px;
}
/* line 74, ../sass/_power-message-slides.scss */
.power-message p {
  padding-top: 30px;
  line-height: 1.2em;
  font-family: "Trebuchet MS", Tahoma;
}

/* line 83, ../sass/_power-message-slides.scss */
#slide1 .power-message {
  top: -10px;
  left: 10px;
}
/* line 87, ../sass/_power-message-slides.scss */
#slide1 .power-message p {
  padding-top: 30px;
  width: 450px;
}
/* line 92, ../sass/_power-message-slides.scss */
#slide1 .power-image {
  text-align: right;
  margin-right: 200px;
}

/* line 100, ../sass/_power-message-slides.scss */
#slide2 .power-message {
  top: 20px;
  left: -90px;
  text-align: right;
}
/* line 108, ../sass/_power-message-slides.scss */
#slide2 .power-image {
  left: 0px;
  top: -50px;
}

/* line 116, ../sass/_power-message-slides.scss */
#slide3 .power-message {
  top: -20px;
  left: 10px;
}
/* line 121, ../sass/_power-message-slides.scss */
#slide3 .power-message p {
  width: 300px;
}
/* line 126, ../sass/_power-message-slides.scss */
#slide3 .power-image {
  top: 7px;
  left: 0px;
}
/* line 130, ../sass/_power-message-slides.scss */
#slide3 .power-image img {
  width: 100%;
}

/* line 137, ../sass/_power-message-slides.scss */
#slide4 .power-image {
  text-align: right;
  margin-right: 50px;
  top: -10px;
  left: -30px;
}
/* line 144, ../sass/_power-message-slides.scss */
#slide4 .power-message {
  left: 10px;
  top: 10px;
}

/* line 150, ../sass/_power-message-slides.scss */
#power-message-shadow-container {
  position: relative;
  width: 100%;
}

/* line 154, ../sass/_power-message-slides.scss */
.power-message-shadow {
  position: absolute;
  z-index: 1;
  opacity: .2;
  -webkit-transition: opacity 1.5s;
  -moz-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s;
}
/* line 161, ../sass/_power-message-slides.scss */
.power-message-shadow.yellow {
  -webkit-box-shadow: #eebb00 0px 0px 400px 220px;
  -moz-box-shadow: #eebb00 0px 0px 400px 220px;
  box-shadow: #eebb00 0px 0px 400px 220px;
  left: 320px;
  top: 180px;
}
/* line 166, ../sass/_power-message-slides.scss */
.power-message-shadow.red {
  -webkit-box-shadow: #dd0000 0px 0px 600px 300px;
  -moz-box-shadow: #dd0000 0px 0px 600px 300px;
  box-shadow: #dd0000 0px 0px 600px 300px;
  left: 860px;
  top: -60px;
}
/* line 174, ../sass/_power-message-slides.scss */
.power-message-shadow.purple {
  -webkit-box-shadow: #dd00dd 0px 0px 500px 250px;
  -moz-box-shadow: #dd00dd 0px 0px 500px 250px;
  box-shadow: #dd00dd 0px 0px 500px 250px;
  left: 350px;
  top: 200px;
}

/* line 7, ../sass/_logo.scss */
.logo.red.hidden,
.logo.blue.hidden,
.logo.yellow.hidden,
.logo.purple.hidden,
.logo-shadow.hidden,
.power-message-shadow.hidden,
.hidden {
  opacity: 0;
  -webkit-transition: opacity 1.5s;
  -moz-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

/* line 12, ../sass/_logo.scss */
#logo-container {
  z-index: 2;
  position: absolute;
  margin-top: 0px;
  left: 0px;
  width: 100%;
  height: 150px;
}

/* line 21, ../sass/_logo.scss */
.logo-shadow {
  opacity: .4;
  width: 200px;
  left: 120px;
  z-index: 2;
  position: absolute;
  -webkit-transition: opacity 1.5s;
  -moz-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s;
}
/* line 22, ../sass/_logo.scss */
.logo-shadow.yellow {
  -webkit-box-shadow: #ffcc00 0px 0px 200px 120px;
  -moz-box-shadow: #ffcc00 0px 0px 200px 120px;
  box-shadow: #ffcc00 0px 0px 200px 120px;
}
/* line 25, ../sass/_logo.scss */
.logo-shadow.purple {
  -webkit-box-shadow: magenta 0px 0px 200px 120px;
  -moz-box-shadow: magenta 0px 0px 200px 120px;
  box-shadow: magenta 0px 0px 200px 120px;
}
/* line 28, ../sass/_logo.scss */
.logo-shadow.red {
  -webkit-box-shadow: red 0px 0px 300px 180px;
  -moz-box-shadow: red 0px 0px 300px 180px;
  box-shadow: red 0px 0px 300px 180px;
}
/* line 31, ../sass/_logo.scss */
.logo-shadow.blue {
  -webkit-box-shadow: blue 0px 0px 300px 180px;
  -moz-box-shadow: blue 0px 0px 300px 180px;
  box-shadow: blue 0px 0px 300px 180px;
}

/* line 42, ../sass/_logo.scss */
.logo {
  position: absolute;
  left: 50px;
  top: 25px;
  font-family: "Trebuchet MS";
  font-size: 1.1em;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0em;
  z-index: 3;
  opacity: .9;
  -webkit-transition: opacity 1.5s;
  -moz-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

/* line 56, ../sass/_logo.scss */
.logo-201 {
  font-size: 1.9em;
  position: relative;
  top: -38px;
  left: 2px;
}

/* line 65, ../sass/_logo.scss */
.red .logo-co-uk,
.red .logo-201,
.red .logo-digital {
  text-shadow: 0px 0px 20px red;
}
/* line 68, ../sass/_logo.scss */
.red .logo-marketing {
  color: #e00;
}

/* line 75, ../sass/_logo.scss */
.blue .logo-co-uk,
.blue .logo-201,
.blue .logo-digital {
  text-shadow: 0px 0px 20px blue;
}
/* line 78, ../sass/_logo.scss */
.blue .logo-marketing {
  color: #55f;
}

/* line 85, ../sass/_logo.scss */
.yellow .logo-co-uk,
.yellow .logo-201,
.yellow .logo-digital {
  text-shadow: 0px 0px 20px #ffcc00;
}
/* line 88, ../sass/_logo.scss */
.yellow .logo-marketing {
  color: #fc0;
}

/* line 95, ../sass/_logo.scss */
.purple .logo-co-uk,
.purple .logo-201,
.purple .logo-digital {
  text-shadow: 0px 0px 20px magenta;
}
/* line 98, ../sass/_logo.scss */
.purple .logo-marketing {
  color: #f0f;
}

/* line 103, ../sass/_logo.scss */
.logo-digital {
  font-size: 3.9em;
  position: relative;
  left: -10px;
}

/* line 108, ../sass/_logo.scss */
.logo-co-uk {
  font-size: 1.2em;
  position: relative;
  left: -10px;
}

/* line 113, ../sass/_logo.scss */
.logo-marketing {
  color: #f0f;
  font-size: 1.1em;
  position: relative;
  left: -168px;
  font-weight: normal;
  letter-spacing: 0em;
  top: 18px;
  text-shadow: none;
}
