/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, C:/Program Files (x86)/ruby-1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Program Files (x86)/ruby-1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Program Files (x86)/ruby-1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Program Files (x86)/ruby-1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Program Files (x86)/ruby-1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Program Files (x86)/ruby-1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Program Files (x86)/ruby-1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Program Files (x86)/ruby-1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Program Files (x86)/ruby-1.9.2/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/_local.scss */
.power-title {
  font-family: 'Lobster Two',"Trebuchet MS", Tahoma, cursive;
  font-style: italic;
  font-size: 4em;
  font-weight: bold;
}

/* line 10, ../sass/_local.scss */
.power-subtitle {
  color: #f0f;
  font-size: 2.5em;
  font-family: 'Lobster Two',"Trebuchet MS", Tahoma, cursive;
  font-style: italic;
}

/* line 17, ../sass/_local.scss */
#power-message-container {
  height: 356px;
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  border-bottom: 1px solid #222;
}

/* line 25, ../sass/_local.scss */
.power-message {
  float: left;
  padding: 50px;
  width: 700px;
  position: relative;
  z-index: 2;
}
/* line 31, ../sass/_local.scss */
.power-message p {
  padding-top: 30px;
  line-height: 1.2em;
  font-family: "Trebuchet MS", Tahoma;
  letter-spacing: 0em;
}

/* line 39, ../sass/_local.scss */
.slide {
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity 1.5s;
  -moz-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

/* line 46, ../sass/_local.scss */
.power-message {
  position: absolute;
}

/* line 49, ../sass/_local.scss */
#slide1 .power-message {
  width: 450px;
  top: 25px;
}

/* line 53, ../sass/_local.scss */
#slide2 .power-message {
  left: 530px;
  top: 15px;
  text-align: right;
  width: 400px;
}

/* line 59, ../sass/_local.scss */
#slide3 .power-message {
  top: 5px;
  left: -50px;
  width: 600px;
}
/* line 63, ../sass/_local.scss */
#slide3 .power-message p {
  width: 300px;
}

/* line 67, ../sass/_local.scss */
.power-image {
  position: absolute;
}

/* line 70, ../sass/_local.scss */
#slide1 .power-image {
  left: 450px;
}

/* line 75, ../sass/_local.scss */
#slide2 .power-image {
  left: 0px;
  top: -50px;
}

/* line 79, ../sass/_local.scss */
#slide3 .power-image {
  top: -152px;
  left: 20px;
}

/* line 88, ../sass/_local.scss */
.logo.red.hidden,
.logo.blue.hidden,
.logo.purple.hidden,
.logo-shadow.hidden,
.power-message-shadow.hidden,
.hidden {
  opacity: 0;
  -webkit-transition: opacity 1.5s;
  -moz-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

/* line 92, ../sass/_local.scss */
.power-message-shadow {
  position: absolute;
  z-index: 1;
  opacity: .3;
  -webkit-transition: opacity 2.5s;
  -moz-transition: opacity 2.5s;
  -o-transition: opacity 2.5s;
  transition: opacity 2.5s;
}
/* line 99, ../sass/_local.scss */
.power-message-shadow.purple {
  box-shadow: #fc0 0px 0px 300px 140px;
  left: 320px;
  top: 180px;
}
/* line 104, ../sass/_local.scss */
.power-message-shadow.red {
  box-shadow: #f00 0px 0px 350px 180px;
  left: 860px;
  top: 00px;
}

/* line 114, ../sass/_local.scss */
#logo-container {
  z-index: 2;
  position: absolute;
  margin-top: 0px;
  left: 0px;
  width: 100%;
  height: 150px;
}

/* line 123, ../sass/_local.scss */
.logo-shadow {
  opacity: .4;
  width: 200px;
  left: 120px;
  z-index: 1;
  position: absolute;
  -webkit-transition: opacity 1.5s;
  -moz-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s;
}
/* line 124, ../sass/_local.scss */
.logo-shadow.purple {
  box-shadow: #fc0 0px 0px 200px 120px;
}
/* line 127, ../sass/_local.scss */
.logo-shadow.red {
  box-shadow: #f00 0px 0px 200px 120px;
}
/* line 130, ../sass/_local.scss */
.logo-shadow.blue {
  box-shadow: #00f 0px 0px 200px 120px;
}

/* line 141, ../sass/_local.scss */
#header-stripe {
  position: absolute;
  width: 100%;
  height: 120px;
  background: #000;
  opacity: .4;
  z-index: 2;
}

/* line 150, ../sass/_local.scss */
.logo {
  position: absolute;
  left: 50px;
  top: 25px;
  font-family: "Trebuchet MS";
  font-size: 1.1em;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0em;
  z-index: 3;
  opacity: .9;
  -webkit-transition: opacity 1.5s;
  -moz-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

/* line 164, ../sass/_local.scss */
.logo-201 {
  font-size: 1.9em;
  position: relative;
  top: -38px;
  left: 2px;
}

/* line 173, ../sass/_local.scss */
.red .logo-co-uk,
.red .logo-201,
.red .logo-digital {
  text-shadow: #f00 0px 0px 20px;
}
/* line 176, ../sass/_local.scss */
.red .logo-marketing {
  color: #e00;
}

/* line 183, ../sass/_local.scss */
.blue .logo-co-uk,
.blue .logo-201,
.blue .logo-digital {
  text-shadow: #00f 0px 0px 20px;
}
/* line 186, ../sass/_local.scss */
.blue .logo-marketing {
  color: #00d;
}

/* line 193, ../sass/_local.scss */
.purple .logo-co-uk,
.purple .logo-201,
.purple .logo-digital {
  text-shadow: #fc0 0px 0px 20px;
}
/* line 196, ../sass/_local.scss */
.purple .logo-marketing {
  color: #fc0;
}

/* line 201, ../sass/_local.scss */
.logo-digital {
  font-size: 3.9em;
  position: relative;
  left: -10px;
}

/* line 206, ../sass/_local.scss */
.logo-co-uk {
  font-size: 1.2em;
  position: relative;
  left: -10px;
}

/* line 211, ../sass/_local.scss */
.logo-marketing {
  color: #f0f;
  font-size: 1.1em;
  position: relative;
  left: -168px;
  font-weight: normal;
  letter-spacing: 0em;
  top: 18px;
  text-shadow: none;
}

/* line 224, ../sass/_local.scss */
.icon-envelop:before, .icon-phone:before, .icon-facebook:before, .icon-twitter:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  padding-right: 10px;
  height: 40px;
}

/* line 237, ../sass/_local.scss */
.more-info-container {
  clear: both;
  padding-left: 80px;
  top: -60px;
  position: relative;
}

/* line 243, ../sass/_local.scss */
.more-info {
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  padding: 0.3em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFF00FF', endColorstr='#FF990099');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff80ff), color-stop(50%, #ff00ff), color-stop(100%, #aa00aa));
  background: -webkit-linear-gradient(#ff80ff, #ff00ff 50%, #aa00aa);
  background: -moz-linear-gradient(#ff80ff, #ff00ff 50%, #aa00aa);
  background: -o-linear-gradient(#ff80ff, #ff00ff 50%, #aa00aa);
  background: linear-gradient(#ff80ff, #ff00ff 50%, #aa00aa);
  -webkit-box-shadow: #ffccff 0 1px 0 inset;
  -moz-box-shadow: #ffccff 0 1px 0 inset;
  box-shadow: #ffccff 0 1px 0 inset;
  border: 1px solid #900090;
  color: white;
  text-shadow: #b700b7 0 -1px 0;
}
/* line 15, C:/Program Files (x86)/ruby-1.9.2/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.more-info:hover {
  text-decoration: none;
}
/* line 24, C:/Program Files (x86)/ruby-1.9.2/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.more-info:hover {
  background-color: #aa00aa;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff75ff), color-stop(50%, #aa00aa), color-stop(100%, #810081));
  background: -webkit-linear-gradient(#ff75ff, #aa00aa 50%, #810081);
  background: -moz-linear-gradient(#ff75ff, #aa00aa 50%, #810081);
  background: -o-linear-gradient(#ff75ff, #aa00aa 50%, #810081);
  background: linear-gradient(#ff75ff, #aa00aa 50%, #810081);
}
/* line 27, C:/Program Files (x86)/ruby-1.9.2/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.more-info:active {
  -webkit-box-shadow: #810081 0 1px 2px inset;
  -moz-box-shadow: #810081 0 1px 2px inset;
  box-shadow: #810081 0 1px 2px inset;
}
/* line 6, C:/Program Files (x86)/ruby-1.9.2/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.more-info.disabled, .more-info[disabled] {
  opacity: 0.6;
  background: #aa00aa;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, C:/Program Files (x86)/ruby-1.9.2/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
.more-info::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 248, ../sass/_local.scss */
.icon-envelop:before {
  content: "\e000";
}

/* line 251, ../sass/_local.scss */
.icon-phone:before {
  content: "\e001";
}

/* line 254, ../sass/_local.scss */
.icon-facebook:before {
  content: "\e002";
}

/* line 257, ../sass/_local.scss */
.icon-twitter:before {
  content: "\e003";
}

/* line 260, ../sass/_local.scss */
#contact-container {
  position: absolute;
  text-align: right;
  width: 100%;
  top: 30px;
  opacity: .8;
  margin-right: 0px;
}
/* line 268, ../sass/_local.scss */
#contact-container ul {
  text-align: left;
  display: inline-block;
  list-style: none;
  margin-left: 20px;
}
/* line 273, ../sass/_local.scss */
#contact-container ul li {
  padding: 2px;
  display: block;
}

/* line 280, ../sass/_local.scss */
body {
  background: #000;
  font-size: 1em;
  letter-spacing: 0.1em;
  font-family: "Trebuchet MS","Tahoma",Helvetica,Sans-Serif;
  font-weight: lighter;
  color: #fff;
}

/* line 289, ../sass/_local.scss */
#background-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* line 295, ../sass/_local.scss */
#background-position {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 1600px;
}

/* line 301, ../sass/_local.scss */
.background {
  height: 100%;
  width: 100%;
  max-width: 1600px;
  min-height: 600px;
  max-height: 1000px;
  position: absolute;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: .7;
}

/* line 313, ../sass/_local.scss */
body.background-carpark #background-b {
  background-image: url("../img/background-carpark/background1.jpg");
}

/* line 316, ../sass/_local.scss */
body.background-carpark #background-y {
  background-image: url("../img/background-carpark/background2.jpg");
}

/* line 319, ../sass/_local.scss */
body.background-carpark #background-p {
  background-image: url("../img/background-carpark/background3.jpg");
}

/* line 322, ../sass/_local.scss */
body.background-bridge #background-b {
  background-image: url("../img/background-bridge/background1.jpg");
}

/* line 325, ../sass/_local.scss */
body.background-bridge #background-y {
  background-image: url("../img/background-bridge/background2.jpg");
}

/* line 328, ../sass/_local.scss */
body.background-bridge #background-p {
  background-image: url("../img/background-bridge/background3.jpg");
}

/* line 332, ../sass/_local.scss */
#background-b {
  z-index: 1;
  -webkit-transition: opacity 10s;
  -moz-transition: opacity 10s;
  -o-transition: opacity 10s;
  transition: opacity 10s;
}

/* line 336, ../sass/_local.scss */
#background-y {
  z-index: 2;
  -webkit-transition: opacity 10s;
  -moz-transition: opacity 10s;
  -o-transition: opacity 10s;
  transition: opacity 10s;
}

/* line 340, ../sass/_local.scss */
#background-p {
  z-index: 3;
  -webkit-transition: opacity 10s;
  -moz-transition: opacity 10s;
  -o-transition: opacity 10s;
  transition: opacity 10s;
}

/* line 344, ../sass/_local.scss */
#foreground-container {
  position: absolute;
  margin-top: 160px;
  z-index: 1;
  width: 100%;
  height: 100%;
}

/* line 351, ../sass/_local.scss */
#foreground {
  position: relative;
  height: 100%;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

/* line 361, ../sass/_local.scss */
#background-b.background-off,
#background-y.background-off,
#background-p.background-off {
  opacity: 0;
}

/* line 365, ../sass/_local.scss */
#page-container {
  width: 100%;
  height: 100%;
  position: relative;
}

/* line 370, ../sass/_local.scss */
.page-container {
  margin: 0 auto;
  width: 100%;
}

/* line 374, ../sass/_local.scss */
#header-container {
  position: relative;
  height: 130px;
}

/* line 379, ../sass/_local.scss */
#main-content-container {
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

/* line 385, ../sass/_local.scss */
#internal-content {
  font-size: 1em;
  margin-top: 80px;
  padding-bottom: 20px;
  vertical-align: top;
}
/* line 391, ../sass/_local.scss */
#internal-content h1.title1 {
  font-size: 2.5em;
}
/* line 394, ../sass/_local.scss */
#internal-content h1.title2 {
  font-size: 5em;
  padding-left: 50px;
  position: relative;
  top: -20px;
  color: #f0f;
}
/* line 402, ../sass/_local.scss */
#internal-content div {
  padding: 50px;
  padding-top: 0px;
  width: 50%;
  float: left;
  display: inline-block;
}
/* line 410, ../sass/_local.scss */
#internal-content p {
  padding-top: 30px;
  font-size: 1.2em;
}
/* line 415, ../sass/_local.scss */
#internal-content img {
  position: relative;
  top: -120px;
  float: right;
}

/* line 423, ../sass/_local.scss */
#main-content {
  vertical-align: top;
}
/* line 426, ../sass/_local.scss */
#main-content h1.title {
  position: relative;
  font-size: 1.8em;
  margin-top: 40px;
  padding-bottom: 20px;
}

/* line 434, ../sass/_local.scss */
#footer-container {
  display: none;
  position: relative;
  clear: both;
  text-align: center;
  top: 250px;
  opacity: .5;
}
/* line 441, ../sass/_local.scss */
#footer-container .rule {
  width: 100%;
  height: 1px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #000000), color-stop(50%, #ffffff), color-stop(100%, #000000), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(left, #000000 0%, #ffffff 50%, #000000 100%, #000000);
  background-image: -moz-linear-gradient(left, #000000 0%, #ffffff 50%, #000000 100%, #000000);
  background-image: -o-linear-gradient(left, #000000 0%, #ffffff 50%, #000000 100%, #000000);
  background-image: linear-gradient(left, #000000 0%, #ffffff 50%, #000000 100%, #000000);
  margin-bottom: 20px;
}

/* line 449, ../sass/_local.scss */
#main-content {
  width: 68%;
  display: inline-block;
  height: 100%;
}

/* line 455, ../sass/_local.scss */
#side-content {
  display: none;
  font-size: .9em;
  width: 30%;
  position: absolute;
  display: inline-block;
  height: 100%;
}

/* line 463, ../sass/_local.scss */
.side-content-background {
  margin-top: 20px;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: .4;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: opacity 10s;
  -moz-transition: opacity 10s;
  -o-transition: opacity 10s;
  transition: opacity 10s;
}

/* line 473, ../sass/_local.scss */
.display-off {
  display: none;
}

/* line 476, ../sass/_local.scss */
#side-content-background-b {
  background-color: #22f;
  z-index: 3;
}

/* line 480, ../sass/_local.scss */
#side-content-background-p {
  background-color: #d33;
  z-index: 2;
}

/* line 484, ../sass/_local.scss */
#side-content-background-y {
  background-color: #c2c;
  z-index: 1;
}

/* line 488, ../sass/_local.scss */
.side-content-background.background-off {
  opacity: 0;
}

/* line 492, ../sass/_local.scss */
#side-content-foreground {
  position: absolute;
  vertical-align: top;
  z-index: 4;
  float: right;
  padding: 20px;
  padding-top: 0px;
}
/* line 499, ../sass/_local.scss */
#side-content-foreground h1 {
  font-size: 1.9em;
  padding-bottom: 20px;
}
/* line 504, ../sass/_local.scss */
#side-content-foreground p {
  font-size: 1.1em;
}
/* line 507, ../sass/_local.scss */
#side-content-foreground .side-content-box {
  padding-top: 50px;
}

/* line 513, ../sass/_local.scss */
#side-content-foreground2 {
  position: absolute;
  vertical-align: top;
  z-index: 4;
  padding: 20px;
  padding-top: 0px;
}
/* line 519, ../sass/_local.scss */
#side-content-foreground2 h1 {
  font-size: 1.9em;
  padding-bottom: 20px;
}
/* line 524, ../sass/_local.scss */
#side-content-foreground2 p {
  font-size: 1.1em;
}
/* line 527, ../sass/_local.scss */
#side-content-foreground2 .side-content-box {
  width: 30%;
  margin-left: 30px;
  float: left;
  display: inline-block;
  padding-top: 50px;
}

/* line 538, ../sass/_local.scss */
#home-button-container ul {
  margin: 0 auto;
  max-width: 650px;
  list-style: none;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}
/* line 546, ../sass/_local.scss */
#home-button-container ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding-bottom: 30px;
  padding-right: 10px;
}
/* line 554, ../sass/_local.scss */
#home-button-container ul li.navon {
  color: #f4f;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url("../img/navigation-pointer.png");
}
/* line 561, ../sass/_local.scss */
#home-button-container ul:after {
  padding-right: 0px;
  content: '';
  width: 100%;
  display: inline-block;
  font-size: 0;
}

/* line 573, ../sass/_local.scss */
#home-button-container2 ul {
  padding: 50px;
  margin: 0 auto;
  list-style: none;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}
/* line 581, ../sass/_local.scss */
#home-button-container2 ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding-bottom: 30px;
  padding-right: 10px;
}
/* line 589, ../sass/_local.scss */
#home-button-container2 ul li.navon {
  color: #f4f;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url("../img/navigation-pointer.png");
}
/* line 596, ../sass/_local.scss */
#home-button-container2 ul:after {
  padding-right: 0px;
  content: '';
  width: 100%;
  display: inline-block;
  font-size: 0;
}

/* line 606, ../sass/_local.scss */
.home-button-container {
  float: left;
  cursor: pointer;
}

/* line 611, ../sass/_local.scss */
.home-button {
  height: 120px;
  width: 300px;
  position: relative;
}

/* line 617, ../sass/_local.scss */
.home-button-content {
  position: absolute;
  z-index: 2;
}
/* line 620, ../sass/_local.scss */
.home-button-content img {
  padding-top: 28px;
  padding-left: 16px;
  width: 70px;
}
/* line 625, ../sass/_local.scss */
.home-button-content h1 {
  position: absolute;
  margin-left: 86px;
  font-size: 2.4em;
  letter-spacing: 0em;
  top: 52px;
  width: 208px;
  text-align: center;
  font-weight: bold;
}
/* line 635, ../sass/_local.scss */
.home-button-content h2 {
  width: 208px;
  position: absolute;
  margin-left: 86px;
  font-size: 1.3em;
  top: 30px;
  text-align: center;
  color: #B3AEB7;
  letter-spacing: 0em;
}

/* line 647, ../sass/_local.scss */
.home-button-hover,
.home-button-border {
  z-index: 1;
  position: absolute;
  border: 1px solid #fff;
  opacity: .5;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  background: #000;
}

/* line 655, ../sass/_local.scss */
.home-button-hover {
  background: #c2c;
  /*   @include background-image(linear-gradient(bottom left,#a1a 40%,#616 60%, #616 80%, #a1a 100%));  */
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/* line 660, ../sass/_local.scss */
.home-button-hover.dormant {
  opacity: 0;
}

/* line 666, ../sass/_local.scss */
#mailing-list input {
  padding: 10px;
  background-color: #fff;
  border: 2px solid #909;
  margin-top: 10px;
  width: 200px;
  font-size: 1em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 676, ../sass/_local.scss */
#mailing-list button {
  padding: 5px;
  font-size: .9em;
}

/* line 684, ../sass/_local.scss */
#from-our-blog p,
#latest-news p {
  padding-bottom: 10px;
}

/* line 690, ../sass/_local.scss */
a,
a:link,
a:visited {
  color: #f9f;
  text-decoration: none;
}

/* line 694, ../sass/_local.scss */
a:hover {
  color: #f0f;
  text-decoration: none;
}

/* line 699, ../sass/_local.scss */
#navigation-container {
  font-family: 'Lobster Two',"Trebuchet MS", Tahoma, cursive;
  font-style: italic;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  z-index: 2;
  top: 60px;
  font-size: 1.3em;
  position: absolute;
  text-align: right;
}
/* line 710, ../sass/_local.scss */
#navigation-container a {
  height: 20px;
  transition: color 1s;
  -moz-transition: color 1s;
  -webkit-transition: color 1s;
  -o-transition: color 1s;
}
/* line 719, ../sass/_local.scss */
#navigation-container a,
#navigation-container a:link,
#navigation-container a:visited {
  color: #fff;
}
/* line 722, ../sass/_local.scss */
#navigation-container a:hover {
  color: #f0f;
  text-decoration: none;
}
/* line 727, ../sass/_local.scss */
#navigation-container ul {
  display: inline-block;
  width: 400px;
  list-style: none;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}
/* line 735, ../sass/_local.scss */
#navigation-container ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 7px;
}
/* line 742, ../sass/_local.scss */
#navigation-container ul li.navon {
  color: #f4f;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url("../img/navigation-pointer.png");
}
/* line 749, ../sass/_local.scss */
#navigation-container ul:after {
  content: '';
  width: 100%;
  display: inline-block;
  font-size: 0;
}
