/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* core structure */
/* line 11, ../sass/_local.scss */
body {
  background: #000;
  background-image: url("../img/texture.jpg");
  background-repeat: repeat-x;
  font-size: 1em;
  letter-spacing: 0em;
  font-family: serif;
  font-weight: lighter;
  color: #fff;
}

/* line 23, ../sass/_local.scss */
a,
a:link,
a:visited {
  color: #00aa00;
}

/* line 27, ../sass/_local.scss */
a.navon,
a:hover {
  color: yellow;
  text-decoration: none;
}

/* line 32, ../sass/_local.scss */
#footer-container {
  position: relative;
  border-top: 1px solid #fff;
  opacity: .3;
  padding: 50px;
  height: 200px;
  width: 80%;
  margin-top: 100%;
  text-align: center;
  margin: 0 auto;
  font-family: "Trebuchet MS", tahoma, helvetica;
  font-size: .9em;
}

/* line 45, ../sass/_local.scss */
.foreground-container {
  z-index: 1;
  width: 100%;
}
/* line 48, ../sass/_local.scss */
.foreground-container.grey {
  background-color: #aaa;
  padding-top: 100px;
  height: 500px;
}
/* line 52, ../sass/_local.scss */
.foreground-container.grey h1 {
  color: #000;
  font-size: 4em;
  text-align: center;
}
/* line 59, ../sass/_local.scss */
.foreground-container.white {
  background-color: #fff;
  padding-top: 100px;
  height: 500px;
}
/* line 63, ../sass/_local.scss */
.foreground-container.white h1 {
  color: #000;
  font-size: 4em;
  text-align: center;
}
/* line 70, ../sass/_local.scss */
.foreground-container.pink {
  background-color: #f0f;
  padding-top: 100px;
  height: 500px;
}
/* line 74, ../sass/_local.scss */
.foreground-container.pink h1 {
  color: #000;
  font-size: 4em;
  text-align: center;
}

/* line 81, ../sass/_local.scss */
.secondry-background-container {
  width: 100%;
  height: 800px;
  position: absolute;
  top: 0px;
}

/* line 87, ../sass/_local.scss */
.secondry-background {
  max-width: 1200px;
  width: 100%;
  height: 800px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: right top;
}

/* line 96, ../sass/_local.scss */
#origins {
  background-image: url("../img/origins.jpg");
}

/* line 99, ../sass/_local.scss */
#approach {
  background-image: url("../img/mission.jpg");
}

/* line 102, ../sass/_local.scss */
#news {
  background-image: url("../img/news.jpg");
}

/* line 105, ../sass/_local.scss */
.foreground {
  position: relative;
  width: 100%;
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
  padding-bottom: 30px;
}

/* line 114, ../sass/_local.scss */
#header-container {
  position: relative;
  height: 130px;
  max-width: 1200px;
  min-width: 900px;
  width: 100%;
  margin: 0 auto;
  z-index: 1000;
}

/* line 124, ../sass/_local.scss */
#header-stripe {
  position: absolute;
  width: 100%;
  height: 130px;
  background: #000;
  opacity: .3;
  z-index: 2;
}

/* line 133, ../sass/_local.scss */
#main-content {
  margin-top: 30px;
  position: relative;
  width: 100%;
  height: 100%;
}

/* MEDIA FEED */
/* line 143, ../sass/_local.scss */
.media-feed-box .tweet-divider {
  border-bottom: 1px dotted #555;
  margin-bottom: 20px;
  margin-top: 20px;
}
/* line 149, ../sass/_local.scss */
.media-feed-box p {
  min-height: 70px;
  clear: both;
}
/* line 153, ../sass/_local.scss */
.media-feed-box .icon-logo {
  width: 50px;
  margin: 20px;
  margin-left: 0px;
  margin-top: 0px;
  float: left;
  border: 1px solid #fff;
}

/* line 162, ../sass/_local.scss */
.media-feed-title {
  position: relative;
  height: 40px;
  top: -40px;
  vertical-align: bottom;
}
/* line 169, ../sass/_local.scss */
.media-feed-title .media-feed-icon {
  margin-left: 10px;
}
/* line 172, ../sass/_local.scss */
.media-feed-title h1 {
  position: relative;
  top: -24px;
  font-size: 1.4em;
  font-style: italic;
  text-align: right;
  color: #555;
}

/* line 183, ../sass/_local.scss */
h12 {
  font-size: 2em;
  position: relative;
  top: -40px;
  left: -10px;
  height: 40px;
  padding-top: 6px;
  background-repeat: no-repeat;
  background-position: center top;
  padding-left: 100px;
}

/* line 196, ../sass/_local.scss */
.media-feed-box p {
  font-size: 1em;
  line-height: 1.3em;
  font-family: "helvetica";
}

/* line 203, ../sass/_local.scss */
.content-container {
  width: 90%;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
}
/* line 208, ../sass/_local.scss */
.content-container.first {
  padding-left: 0%;
  padding-right: 10%;
}
/* line 212, ../sass/_local.scss */
.content-container.last {
  padding-left: 10%;
  padding-right: 0%;
}

/* line 217, ../sass/_local.scss */
.content-box-background {
  position: absolute;
  opacity: .6;
  z-index: 1;
  width: 90%;
  height: 100%;
  /*    background:#000; */
  border-top: 2px dotted #ccc;
}

/* line 227, ../sass/_local.scss */
.content-box-foreground {
  position: relative;
  margin: 4%;
  z-index: 2;
  color: #fff;
  padding-bottom: 100px;
}
/* line 233, ../sass/_local.scss */
.content-box-foreground .title {
  font-size: 3em;
}
/* line 236, ../sass/_local.scss */
.content-box-foreground p {
  color: #aaa;
}

/* NAVIGATION  & NEWSLETTER SIGNUP */
/* line 244, ../sass/_local.scss */
#newsletter-signup-container {
  position: absolute;
  font-family: 'Helvetica Neue',Helvetica,Arial,Sans-Serif;
  font-size: .6em;
  font-weight: bold;
  width: 100%;
  top: 10px;
  left: -10px;
}
/* line 253, ../sass/_local.scss */
#newsletter-signup-container input {
  font-size: .7em;
  width: 260px;
  border: 1px solid #666;
  background: #333;
  color: #888;
  padding: 5px;
  height: 18px;
  position: relative;
  top: 10px;
}
/* line 265, ../sass/_local.scss */
#newsletter-signup-container button {
  position: relative;
  top: 10px;
  font-size: .7em;
  background: #444;
  border: 1px solid #888;
  height: 30px;
  padding: 5px;
  color: #aaa;
}

/* line 277, ../sass/_local.scss */
#newsletter-signup {
  border: 2px dotted #444;
  float: right;
  height: 50px;
  width: 380px;
  text-align: center;
}

/* line 286, ../sass/_local.scss */
#services-subnavigation,
#about-subnavigation {
  position: absolute;
  font-size: .6em;
  top: 130px;
  width: 150px;
  z-index: 100000;
}
/* line 292, ../sass/_local.scss */
#services-subnavigation ul,
#about-subnavigation ul {
  text-align: left;
  list-style: none;
}
/* line 296, ../sass/_local.scss */
#services-subnavigation li,
#about-subnavigation li {
  display: block;
  padding-bottom: 4px;
}
/* line 301, ../sass/_local.scss */
#services-subnavigation li a,
#services-subnavigation li a:link,
#services-subnavigation li a:visited,
#about-subnavigation li a,
#about-subnavigation li a:link,
#about-subnavigation li a:visited {
  text-decoration: none;
  color: #00aa00;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
/* line 306, ../sass/_local.scss */
#services-subnavigation li a:hover,
#about-subnavigation li a:hover {
  color: yellow;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
/* line 311, ../sass/_local.scss */
#services-subnavigation.hidden,
#about-subnavigation.hidden {
  display: none;
}

/* line 315, ../sass/_local.scss */
#about-subnavigation {
  left: 48px;
}

/* line 318, ../sass/_local.scss */
#services-subnavigation {
  left: 164px;
}

/* line 322, ../sass/_local.scss */
#navigation-container {
  width: 400px;
  height: 41px;
  z-index: 2;
  font-size: 1.7em;
  position: absolute;
  text-align: right;
  font-weight: lighter;
  letter-spacing: 1px;
  right: 0px;
}
/* line 332, ../sass/_local.scss */
#navigation-container a {
  height: 20px;
  -webkit-transition: color 0.6s;
  -moz-transition: color 0.6s;
  -o-transition: color 0.6s;
  transition: color 0.6s;
  text-decoration: none;
}
/* line 339, ../sass/_local.scss */
#navigation-container a,
#navigation-container a:link,
#navigation-container a:visited {
  color: #fff;
}
/* line 343, ../sass/_local.scss */
#navigation-container a.navon,
#navigation-container a:hover {
  color: #00aa00;
  text-decoration: none;
}
/* line 348, ../sass/_local.scss */
#navigation-container .main-navigation {
  position: absolute;
  top: 84px;
  width: 100%;
  list-style: none;
}
/* line 355, ../sass/_local.scss */
#navigation-container li {
  display: inline-block;
  padding-right: 40px;
}

/* LOGO */
/* line 363, ../sass/_local.scss */
#logo-container {
  z-index: 10;
  position: absolute;
  margin-top: 5px;
  left: 0px;
  width: 550px;
  height: 150px;
}

/* line 372, ../sass/_local.scss */
.logo {
  position: absolute;
  left: 10px;
  top: 25px;
  font-family: "Trebuchet MS", tahoma, helvetica;
  font-size: 1.1em;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0em;
  z-index: 3;
  opacity: 1;
}

/* line 385, ../sass/_local.scss */
.logo-201 {
  font-size: 1.9em;
  position: relative;
  top: -38px;
  left: 2px;
}

/* line 391, ../sass/_local.scss */
.logo-digital {
  font-size: 3.9em;
  position: relative;
  left: -10px;
}

/* line 396, ../sass/_local.scss */
.logo-co-uk {
  font-size: 1.2em;
  position: relative;
  left: -10px;
}

/* line 401, ../sass/_local.scss */
.logo-marketing {
  color: #f0f;
  font-size: 1.1em;
  position: relative;
  left: -168px;
  font-weight: normal;
  letter-spacing: 0em;
  top: 18px;
  text-shadow: none;
}

/* line 414, ../sass/_local.scss */
.logo-co-uk,
.logo-201,
.logo-digital {
  text-shadow: 0px 0px 20px magenta;
}

/* line 418, ../sass/_local.scss */
.logo-marketing {
  color: #f0f;
}

/* POWER SLIDES */
/* line 426, ../sass/_local.scss */
#power-content {
  overflow: hidden;
  position: relative;
  margin-top: 30px;
  width: 100%;
  min-height: 300px;
  font-family: serif;
}

/* line 436, ../sass/_local.scss */
.slide {
  z-index: 2;
  position: absolute;
  top: -400px;
  opacity: .9;
  width: 100%;
  min-height: 300px;
  font-style: italic;
}
/* line 445, ../sass/_local.scss */
.slide .title {
  font-size: 6em;
}
/* line 449, ../sass/_local.scss */
.slide .subtitle {
  font-size: 3em;
  color: #229922;
}
/* line 454, ../sass/_local.scss */
.slide.centerslide {
  text-align: center;
  padding-top: 80px;
}
/* line 460, ../sass/_local.scss */
.slide.fromright {
  top: 0px;
  left: 100%;
}

/* line 465, ../sass/_local.scss */
#paused-slide-container {
  z-index: 10;
  position: absolute;
  width: 100%;
  min-height: 300px;
}

/* line 471, ../sass/_local.scss */
.slide-background {
  position: absolute;
  top: -400px;
  height: 300px;
  width: 100%;
  background: #000;
  opacity: .3;
  z-index: 1;
}

/* line 481, ../sass/_local.scss */
.slide-foreground {
  width: 100%;
  height: 300px;
  position: absolute;
  padding: 60px;
  z-index: 2;
  top: -300px;
}

/* line 489, ../sass/_local.scss */
.slide-content {
  padding: 50px;
  position: relative;
  z-index: 2;
}
/* line 494, ../sass/_local.scss */
.slide-content p {
  font-family: "Trebuchet MS", tahoma, helvetica;
  color: #ccc;
  padding-right: 250px;
  padding-top: 20px;
  letter-spacing: .1em;
  font-size: 1.2em;
  padding-left: 20px;
}

/* line 505, ../sass/_local.scss */
.slide-img {
  position: absolute;
  z-index: 1;
  width: 200px;
  top: 40px;
  right: 100px;
}

/* line 513, ../sass/_local.scss */
.subslide {
  position: relative;
  z-index: 2;
}
/* line 518, ../sass/_local.scss */
.subslide .title {
  font-size: 6em;
  padding-top: 10px;
}
/* line 522, ../sass/_local.scss */
.subslide .subtitle {
  padding-top: 10px;
  font-size: 2em;
}
/* line 526, ../sass/_local.scss */
.subslide .line2 {
  padding-top: 0px;
}
/* line 531, ../sass/_local.scss */
.subslide.subslide1 .title {
  padding-left: 70px;
}
/* line 534, ../sass/_local.scss */
.subslide.subslide1 .subtitle {
  padding-left: 120px;
  color: #f5f;
  size: 1.5em;
}
/* line 540, ../sass/_local.scss */
.subslide.subslide1 .line2 {
  padding-left: 70px;
}
/* line 544, ../sass/_local.scss */
.subslide.subslide1 .slide-img {
  margin-top: 10px;
  margin-right: 10px;
}
/* line 552, ../sass/_local.scss */
.subslide.subslide2 .slide-img {
  z-index: 1;
  position: absolute;
  right: 50px;
  top: 30px;
  width: 470px;
}
/* line 559, ../sass/_local.scss */
.subslide.subslide2 .subtitle {
  padding-left: 50px;
  color: #ff8811;
}
/* line 563, ../sass/_local.scss */
.subslide.subslide2 .subtitle.line2 {
  padding-left: 190px;
}
/* line 571, ../sass/_local.scss */
.subslide.subslide3 .subtitle {
  padding-left: 70px;
  color: #eeee22;
}
/* line 577, ../sass/_local.scss */
.subslide.subslide3 .slide-img {
  margin-top: 10px;
  width: 260px;
}
/* line 584, ../sass/_local.scss */
.subslide.subslide4 .subtitle {
  padding-left: 90px;
  color: #00BBDD;
}
/* line 588, ../sass/_local.scss */
.subslide.subslide4 .subtitle.line2 {
  padding-left: 150px;
}
/* line 593, ../sass/_local.scss */
.subslide.subslide4 .slide-img {
  width: 250px;
}

/* line 600, ../sass/_local.scss */
.subslide.subslide5 .title {
  padding-top: 15px;
  font-size: 5em;
}
/* line 604, ../sass/_local.scss */
.subslide.subslide5 .subtitle {
  color: #DFBFFF;
  padding-left: 40px;
}
/* line 607, ../sass/_local.scss */
.subslide.subslide5 .subtitle.line2 {
  padding-left: 80px;
}
/* line 611, ../sass/_local.scss */
.subslide.subslide5 .slide-img {
  width: 360px;
}

/* line 617, ../sass/_local.scss */
.subslide.subslide6 .title {
  padding-top: 15px;
  font-size: 5em;
}
/* line 622, ../sass/_local.scss */
.subslide.subslide6 .subtitle {
  padding-left: 80px;
  color: #AAFF44;
}
/* line 626, ../sass/_local.scss */
.subslide.subslide6 .subtitle.line2 {
  padding-left: 160px;
}
/* line 631, ../sass/_local.scss */
.subslide.subslide6 .slide-img {
  top: 50px;
  width: 301px;
}

/* line 636, ../sass/_local.scss */
.subslide {
  position: absolute;
  top: 0px;
  width: 100%;
  float: right;
}
/* line 641, ../sass/_local.scss */
.subslide.subslide1 {
  left: 0;
}
/* line 644, ../sass/_local.scss */
.subslide.subslide2 {
  left: 100%;
}
/* line 647, ../sass/_local.scss */
.subslide.subslide3 {
  left: 200%;
}
/* line 650, ../sass/_local.scss */
.subslide.subslide4 {
  left: 300%;
}
/* line 653, ../sass/_local.scss */
.subslide.subslide5 {
  left: 400%;
}
/* line 656, ../sass/_local.scss */
.subslide.subslide6 {
  left: 500%;
}

/* line 661, ../sass/_local.scss */
#slide-buttons {
  visibility: hidden;
  width: 100%;
  text-align: right;
  right: 70px;
  padding: 20px;
  z-index: 10;
  opacity: .5;
  font-family: serif;
  font-size: .7em;
  position: relative;
  top: -10px;
}
/* line 673, ../sass/_local.scss */
#slide-buttons .slide-button {
  cursor: pointer;
  display: inline-block;
  height: 8px;
  width: 8px;
  padding-left: 2px;
  padding-bottom: 2px;
  border: 2px solid #999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 685, ../sass/_local.scss */
#slide-buttons .slide-button.active, #slide-buttons .slide-button:hover {
  background-color: #fff;
}
/* line 690, ../sass/_local.scss */
#slide-buttons .pause-button {
  text-align: center;
}

/* CONTENT */
/* line 695, ../sass/_local.scss */
.services-img-box {
  float: right;
  margin: 30px;
  border: 9px solid #555;
}

/* line 700, ../sass/_local.scss */
.leadership-item {
  display: inline-block;
  text-align: center;
}

/* line 704, ../sass/_local.scss */
.leadership-photo {
  width: 150px;
  height: 150px;
  margin: 20px;
  border: 1px solid #fff;
}

/* line 710, ../sass/_local.scss */
.content-page {
  position: relative;
  background: rgba(0, 0, 0, 0.3);
}

/* line 715, ../sass/_local.scss */
.content-page-container {
  position: relative;
  margin: 0px auto;
  max-width: 1080px;
  min-width: 880px;
  margin-bottom: 30px;
  padding-top: 60px;
}

/* line 723, ../sass/_local.scss */
.content-bullets {
  margin: 20px;
  margin-left: 50px;
  font-size: 1em;
  list-style-type: square;
}
/* line 728, ../sass/_local.scss */
.content-bullets li {
  color: #f5f;
  padding: 6px;
}

/* line 734, ../sass/_local.scss */
.underline {
  text-decoration: underline;
}

/* line 737, ../sass/_local.scss */
.content-page-content {
  min-height: 400px;
  clear: both;
  padding: 20px;
  z-index: 2;
  color: #ccc;
  font-weight: normal;
  font-family: "Trebuchet MS", tahoma, helvetica;
}
/* line 746, ../sass/_local.scss */
.content-page-content img {
  position: relative;
  z-index: 2;
}
/* line 750, ../sass/_local.scss */
.content-page-content p {
  line-height: 1.2em;
  padding-top: 20px;
  font-size: .9em;
}
/* line 755, ../sass/_local.scss */
.content-page-content .title {
  position: relative;
  /*	@include background-image(linear-gradient(left,rgba(255,255,255,.1) 70%,rgba(0,0,0,0) 100%)); 
  	width:100%;
  	display:inline-block; */
  background-color: rgba(255, 255, 255, 0.1);
  left: -20px;
  z-index: 1;
  padding: 20px;
  padding-bottom: 40px;
  color: #fff;
  font-family: serif;
  font-size: 3em;
  font-style: italic;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 50px;
  margin-bottom: 20px;
  color: #fff;
}
/* line 776, ../sass/_local.scss */
.content-page-content .subtitle {
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: serif;
  font-size: 2em;
  color: #fff;
  font-style: italic;
}
/* line 785, ../sass/_local.scss */
.content-page-content .subtitle.grey {
  color: #777;
}
/* line 790, ../sass/_local.scss */
.content-page-content .emphasise,
.content-page-content .emphasised {
  color: #fff;
  font-size: 1.2em;
}
/* line 794, ../sass/_local.scss */
.content-page-content .content-left {
  width: 90%;
  padding-left: 10px;
  font-size: .9em;
  color: #ccc;
  line-height: 1.2em;
  font-weight: normal;
  font-family: "Trebuchet MS", tahoma, helvetica;
}
/* line 802, ../sass/_local.scss */
.content-page-content .content-left p {
  padding: 10px;
}
/* line 805, ../sass/_local.scss */
.content-page-content .content-left.origins {
  width: 60%;
}
/* line 808, ../sass/_local.scss */
.content-page-content .content-left.mission {
  width: 60%;
}
/* line 811, ../sass/_local.scss */
.content-page-content .content-left.approach {
  width: 50%;
}
/* line 814, ../sass/_local.scss */
.content-page-content .content-left.news {
  width: 100%;
}

/* line 821, ../sass/_local.scss */
.slightbox {
  margin: 20px;
  border: 1px solid #555;
  display: inline-block;
  /*    background:rgba(255,255,255,.1); */
  background: #333;
}

/* line 829, ../sass/_local.scss */
#leadership-photos {
  text-align: center;
}
/* line 831, ../sass/_local.scss */
#leadership-photos img {
  cursor: pointer;
}
/* line 834, ../sass/_local.scss */
#leadership-photos img.fade {
  opacity: .3;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

/* line 840, ../sass/_local.scss */
.bio-container {
  margin: 20px;
  padding: 20px;
  min-height: 300px;
}
/* line 847, ../sass/_local.scss */
.bio-container .instructions,
.bio-container .leader-name {
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  font-size: 2em;
  color: #fff;
}
/* line 854, ../sass/_local.scss */
.bio-container .instructions {
  font-size: 1.5em;
  text-align: center;
}
/* line 859, ../sass/_local.scss */
.bio-container .leader-quote {
  padding: 20px;
  font-size: 1.3em;
  font-style: italic;
  color: #f5f;
}
/* line 866, ../sass/_local.scss */
.bio-container .leader-text {
  padding: 20px;
}

/* line 871, ../sass/_local.scss */
.hidden {
  display: none;
}

/* line 874, ../sass/_local.scss */
.content-navigation {
  margin: 15px;
  height: 40px;
  position: relative;
  z-index: 2;
  font-size: 1em;
  color: yellow;
  font-family: "Trebuchet MS", tahoma, helvetica;
  vertical-align: baseline;
  border-bottom: 2px dotted #444;
}
/* line 886, ../sass/_local.scss */
.content-navigation a:link,
.content-navigation a:visited {
  text-decoration: none;
  color: #00aa00;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
/* line 891, ../sass/_local.scss */
.content-navigation a:hover {
  color: yellow;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
/* line 897, ../sass/_local.scss */
.content-navigation li {
  display: inline-block;
  padding-right: 10px;
  border-left: 2px solid #666;
  padding-left: 10px;
}
/* line 903, ../sass/_local.scss */
.content-navigation li.first {
  border-left: 0px;
}
/* line 906, ../sass/_local.scss */
.content-navigation li.active {
  color: #fff;
  font-size: 2.1em;
  font-family: serif;
}

/* line 915, ../sass/_local.scss */
.about-img {
  border: 1px solid #fff;
  width: 250px;
  float: right;
  margin: 50px;
  margin-top: 0px;
}

/* line 923, ../sass/_local.scss */
.yui3-panel-focused:focus {
  outline: none;
}

/* line 929, ../sass/_local.scss */
#signupFormContainer .yui3-widget-hd,
#signupFormContainer .yui3-widget-ft {
  display: none;
}
/* line 933, ../sass/_local.scss */
#signupFormContainer.yui3-panel-content {
  border: 0px;
  background: none;
}

/* line 940, ../sass/_local.scss */
#signupForm {
  z-index: 1000;
  background: #bbb;
  padding: 30px;
  border: 7px solid #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  font-family: "Trebuchet MS", tahoma, helvetica;
}
/* line 948, ../sass/_local.scss */
#signupForm .email-suggestion {
  font-weight: bold;
  color: #c0c;
}
/* line 953, ../sass/_local.scss */
#signupForm p {
  padding: 10px;
}
/* line 956, ../sass/_local.scss */
#signupForm .waiting-message {
  text-align: center;
  color: #444;
}
/* line 961, ../sass/_local.scss */
#signupForm .waiting-message h1 {
  font-size: 2.5em;
  padding: 20px;
}
/* line 965, ../sass/_local.scss */
#signupForm .waiting-message p {
  font-size: 1em;
}
/* line 969, ../sass/_local.scss */
#signupForm .waiting-spinner {
  margin: 30px;
  width: 60px;
}
/* line 973, ../sass/_local.scss */
#signupForm .click-handler {
  cursor: pointer;
}
/* line 977, ../sass/_local.scss */
#signupForm .control-group {
  padding: 10px;
}
/* line 980, ../sass/_local.scss */
#signupForm .control-group-buttons {
  text-align: center;
  padding-top: 40px;
}
/* line 984, ../sass/_local.scss */
#signupForm .control-group-buttons .cancel-button {
  font-size: 17px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF888888', endColorstr='#FF555555');
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiM5YzljOWMiLz48c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzg4ODg4OCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #9c9c9c), color-stop(51%, #888888));
  background: -webkit-linear-gradient(#9c9c9c 50%, #888888 51%);
  background: -moz-linear-gradient(#9c9c9c 50%, #888888 51%);
  background: -o-linear-gradient(#9c9c9c 50%, #888888 51%);
  background: linear-gradient(#9c9c9c 50%, #888888 51%);
  -webkit-box-shadow: #c3c3c3 0 1px 0 inset;
  -moz-box-shadow: #c3c3c3 0 1px 0 inset;
  box-shadow: #c3c3c3 0 1px 0 inset;
  border: 1px solid #484848;
  color: white;
  text-shadow: #494949 0 -1px 0;
}
/* line 15, ../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#signupForm .control-group-buttons .cancel-button:hover {
  text-decoration: none;
}
/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#signupForm .control-group-buttons .cancel-button:hover {
  background-color: #434343;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiM4YjhiOGIiLz48c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzQzNDM0MyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #8b8b8b), color-stop(51%, #434343));
  background: -webkit-linear-gradient(#8b8b8b 50%, #434343 51%);
  background: -moz-linear-gradient(#8b8b8b 50%, #434343 51%);
  background: -o-linear-gradient(#8b8b8b 50%, #434343 51%);
  background: linear-gradient(#8b8b8b 50%, #434343 51%);
}
/* line 33, ../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#signupForm .control-group-buttons .cancel-button:active {
  -webkit-box-shadow: #414141 0 1px 2px inset;
  -moz-box-shadow: #414141 0 1px 2px inset;
  box-shadow: #414141 0 1px 2px inset;
}
/* line 6, ../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#signupForm .control-group-buttons .cancel-button.disabled, #signupForm .control-group-buttons .cancel-button[disabled] {
  opacity: 0.6;
  background: #555555;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
#signupForm .control-group-buttons .cancel-button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 987, ../sass/_local.scss */
#signupForm .control-group-buttons .submit-button {
  font-size: 17px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFF66FF', endColorstr='#FFFF00FF');
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZjhmZmYiLz48c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2ZmNjZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #ff8fff), color-stop(51%, #ff66ff));
  background: -webkit-linear-gradient(#ff8fff 50%, #ff66ff 51%);
  background: -moz-linear-gradient(#ff8fff 50%, #ff66ff 51%);
  background: -o-linear-gradient(#ff8fff 50%, #ff66ff 51%);
  background: linear-gradient(#ff8fff 50%, #ff66ff 51%);
  -webkit-box-shadow: #ffdbff 0 1px 0 inset;
  -moz-box-shadow: #ffdbff 0 1px 0 inset;
  box-shadow: #ffdbff 0 1px 0 inset;
  border: 1px solid #e600e5;
  color: white;
  text-shadow: #e700e7 0 -1px 0;
}
/* line 15, ../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#signupForm .control-group-buttons .submit-button:hover {
  text-decoration: none;
}
/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#signupForm .control-group-buttons .submit-button:hover {
  background-color: #db00db;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZjZiZmYiLz48c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2RiMDBkYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #ff6bff), color-stop(51%, #db00db));
  background: -webkit-linear-gradient(#ff6bff 50%, #db00db 51%);
  background: -moz-linear-gradient(#ff6bff 50%, #db00db 51%);
  background: -o-linear-gradient(#ff6bff 50%, #db00db 51%);
  background: linear-gradient(#ff6bff 50%, #db00db 51%);
}
/* line 33, ../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#signupForm .control-group-buttons .submit-button:active {
  -webkit-box-shadow: #d600d6 0 1px 2px inset;
  -moz-box-shadow: #d600d6 0 1px 2px inset;
  box-shadow: #d600d6 0 1px 2px inset;
}
/* line 6, ../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#signupForm .control-group-buttons .submit-button.disabled, #signupForm .control-group-buttons .submit-button[disabled] {
  opacity: 0.6;
  background: magenta;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
#signupForm .control-group-buttons .submit-button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 992, ../sass/_local.scss */
#signupForm label {
  width: 140px;
  font-size: 1.3em;
  display: inline-block;
  color: #c0c;
}
/* line 998, ../sass/_local.scss */
#signupForm input {
  padding: 10px;
  border: 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  width: 200px;
  font-family: "Trebuchet MS", tahoma, helvetica;
  color: #666;
  font-size: 1.2em;
}
/* line 1008, ../sass/_local.scss */
#signupForm legend {
  text-align: center;
  padding-bottom: 40px;
  color: #555;
  font-size: 2.2em;
  font-style: italic;
  font-family: serif;
}
/* line 1018, ../sass/_local.scss */
#signupForm input {
  font-family: serif;
}

/* line 1022, ../sass/_local.scss */
.media-content-box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #333;
  padding: 10px;
  border: 1px solid #444;
  margin-bottom: 40px;
}
/* line 1029, ../sass/_local.scss */
.media-content-box p {
  padding-bottom: 10px;
  min-height: 0px;
}
/* line 1033, ../sass/_local.scss */
.media-content-box .news-date {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
}
/* line 1038, ../sass/_local.scss */
.media-content-box .title {
  font-size: 2em;
  margin-bottom: 10px;
}

/* line 1043, ../sass/_local.scss */
.news .media-content-box {
  margin: 30px;
  width: 40%;
  display: inline-block;
  vertical-align: top;
  min-height: 160px;
}

/* line 1050, ../sass/_local.scss */
a.customisable-highlight {
  visibility: hidden;
}

/* line 1053, ../sass/_local.scss */
#contact-icons {
  position: absolute;
  top: 180px;
  right: 0px;
  overflow: hidden;
  width: 396px;
}
/* line 1059, ../sass/_local.scss */
#contact-icons ul {
  text-align: right;
}
/* line 1062, ../sass/_local.scss */
#contact-icons li {
  margin-bottom: 10px;
}
/* line 1065, ../sass/_local.scss */
#contact-icons img {
  position: relative;
  z-index: 2;
  width: 50px;
  height: 45px;
  overflow: hidden;
  padding: 6px;
  background-color: #008c00;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  cursor: pointer;
}
/* line 1078, ../sass/_local.scss */
#contact-icons .contact-details {
  color: #79FE20;
  height: 45px;
  background-color: #008c00;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  padding: 6px;
  position: absolute;
  z-index: 1;
  float: left;
  left: 0px;
  width: 396px;
  font-family: "Trebuchet MS", tahoma, helvetica;
  font-size: 1.2em;
  padding: 6px;
  padding-right: 0px;
  text-align: left;
  -webkit-transition: left 1s;
  -moz-transition: left 1s;
  -o-transition: left 1s;
  transition: left 1s;
}
/* line 1080, ../sass/_local.scss */
#contact-icons .contact-details a {
  color: #79FE20;
}
/* line 1099, ../sass/_local.scss */
#contact-icons .contact-details.collapsed {
  left: 340px;
  -webkit-transition: left 1s;
  -moz-transition: left 1s;
  -o-transition: left 1s;
  transition: left 1s;
}
/* line 1104, ../sass/_local.scss */
#contact-icons .contact-details p {
  left: 20px;
  position: relative;
  top: 14px;
}

/* line 1112, ../sass/_local.scss */
.contact-phone-email,
.contact-inperson {
  display: inline-block;
  width: 300px;
  height: 400px;
  vertical-align: top;
}
