/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* core structure */
/* line 5, ../sass/_local.scss */
body {
  background: #000;
  background-image: url("../img/texture.jpg");
  background-repeat: repeat-x;
  font-size: 1em;
  letter-spacing: 0em;
  font-family: serif;
  font-weight: lighter;
  color: #fff;
}

/* line 16, ../sass/_local.scss */
#foreground-container {
  position: absolute;
  z-index: 1;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  height: 100%;
}

/* line 25, ../sass/_local.scss */
#foreground {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* line 33, ../sass/_local.scss */
#header-container {
  position: relative;
  height: 130px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/* line 41, ../sass/_local.scss */
#header-stripe {
  position: absolute;
  width: 100%;
  height: 130px;
  background: #000;
  opacity: .3;
  z-index: 2;
}

/* line 50, ../sass/_local.scss */
#main-content {
  position: relative;
  width: 100%;
  height: 100%;
}

/* line 58, ../sass/_local.scss */
#media-channels ul {
  width: 100%;
}
/* line 62, ../sass/_local.scss */
#media-channels li {
  display: inline-block;
  float: left;
  width: 300px;
}

/* line 68, ../sass/_local.scss */
.content-container {
  width: 90%;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
}
/* line 73, ../sass/_local.scss */
.content-container.first {
  padding-left: 0%;
  padding-right: 10%;
}
/* line 77, ../sass/_local.scss */
.content-container.last {
  padding-left: 10%;
  padding-right: 0%;
}

/* line 82, ../sass/_local.scss */
.content-box-background {
  position: absolute;
  z-index: 1;
  height: 400px;
  width: 90%;
  background: #000;
  opacity: .4;
  border-top: 2px dotted #888;
}

/* line 92, ../sass/_local.scss */
.content-box-foreground {
  position: absolute;
  width: 80%;
  margin: 5%;
  z-index: 2;
  color: #fff;
}
/* line 99, ../sass/_local.scss */
.content-box-foreground .title {
  font-size: 3em;
}

/* NAVIGATION  & NEWSLETTER SIGNUP */
/* line 107, ../sass/_local.scss */
#newsletter-signup-container {
  position: absolute;
  font-family: 'Helvetica Neue',Helvetica,Arial,Sans-Serif;
  font-size: .6em;
  font-weight: bold;
  width: 100%;
  top: 10px;
  left: -10px;
}
/* line 115, ../sass/_local.scss */
#newsletter-signup-container .msg {
  font-size: .6em;
  color: #777;
  margin-bottom: 5px;
}
/* line 121, ../sass/_local.scss */
#newsletter-signup-container input {
  font-size: .7em;
  width: 260px;
  border: 1px solid #666;
  background: #333;
  color: #888;
  padding: 5px;
  height: 18px;
}
/* line 131, ../sass/_local.scss */
#newsletter-signup-container button {
  font-size: .7em;
  background: #444;
  border: 1px solid #888;
  height: 30px;
  padding: 5px;
  color: #aaa;
}

/* line 141, ../sass/_local.scss */
#newsletter-signup {
  background: #1a1a1a;
  border-bottom: 2px dotted #444;
  float: right;
  padding-top: 20px;
  height: 40px;
  width: 380px;
  text-align: center;
  position: relative;
  top: -20px;
}

/* line 153, ../sass/_local.scss */
#navigation-container {
  width: 100%;
  height: 41px;
  z-index: 2;
  font-size: 1.7em;
  position: absolute;
  text-align: right;
  font-weight: lighter;
  letter-spacing: 1px;
}
/* line 163, ../sass/_local.scss */
#navigation-container a {
  height: 20px;
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
  text-decoration: none;
}
/* line 170, ../sass/_local.scss */
#navigation-container a,
#navigation-container a:link,
#navigation-container a:visited {
  color: #fff;
}
/* line 174, ../sass/_local.scss */
#navigation-container a.navon,
#navigation-container a:hover {
  color: #f0f;
  text-decoration: none;
}
/* line 179, ../sass/_local.scss */
#navigation-container .main-navigation {
  position: absolute;
  top: 84px;
  width: 100%;
  list-style: none;
}
/* line 186, ../sass/_local.scss */
#navigation-container li {
  display: inline-block;
  padding-right: 40px;
}

/* LOGO */
/* line 193, ../sass/_local.scss */
#logo-container {
  z-index: 10;
  position: absolute;
  margin-top: 5px;
  left: 0px;
  width: 550px;
  height: 150px;
}

/* line 202, ../sass/_local.scss */
.logo {
  position: absolute;
  left: 10px;
  top: 25px;
  font-family: "Trebuchet MS";
  font-size: 1.1em;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0em;
  z-index: 3;
  opacity: 1;
}

/* line 215, ../sass/_local.scss */
.logo-201 {
  font-size: 1.9em;
  position: relative;
  top: -38px;
  left: 2px;
}

/* line 221, ../sass/_local.scss */
.logo-digital {
  font-size: 3.9em;
  position: relative;
  left: -10px;
}

/* line 226, ../sass/_local.scss */
.logo-co-uk {
  font-size: 1.2em;
  position: relative;
  left: -10px;
}

/* line 231, ../sass/_local.scss */
.logo-marketing {
  color: #f0f;
  font-size: 1.1em;
  position: relative;
  left: -168px;
  font-weight: normal;
  letter-spacing: 0em;
  top: 18px;
  text-shadow: none;
}

/* line 244, ../sass/_local.scss */
.logo-co-uk,
.logo-201,
.logo-digital {
  text-shadow: 0px 0px 20px magenta;
}

/* line 248, ../sass/_local.scss */
.logo-marketing {
  color: #f0f;
}

/* POWER SLIDES */
/* line 256, ../sass/_local.scss */
#power-content {
  overflow: hidden;
  position: relative;
  margin-top: 30px;
  width: 100%;
  min-height: 300px;
  font-family: serif;
}
/* line 264, ../sass/_local.scss */
#power-content .title {
  font-size: 6em;
}
/* line 267, ../sass/_local.scss */
#power-content .subtitle {
  font-size: 3em;
}

/* line 273, ../sass/_local.scss */
.slide {
  position: absolute;
  top: 0px;
  opacity: .9;
  width: 100%;
  min-height: 300px;
  font-style: italic;
  -webkit-transition: top 1s;
  -moz-transition: top 1s;
  -o-transition: top 1s;
  transition: top 1s;
}
/* line 283, ../sass/_local.scss */
.slide.centerslide {
  text-align: center;
  top: 80px;
}

/* line 289, ../sass/_local.scss */
.slide-background {
  position: absolute;
  height: 300px;
  width: 100%;
  background: #000;
  opacity: .3;
  z-index: 1;
}

/* line 297, ../sass/_local.scss */
.slide-foreground {
  width: 100%;
  height: 300px;
  position: absolute;
  padding: 20px;
  z-index: 2;
}

/* line 304, ../sass/_local.scss */
.slide.hidden {
  top: -400px;
}

/* line 308, ../sass/_local.scss */
#slide-buttons {
  text-align: center;
  padding: 20px;
  z-index: 10;
  opacity: .3;
}

/* line 314, ../sass/_local.scss */
.slide-button {
  cursor: pointer;
  display: inline-block;
  height: 12px;
  width: 12px;
  border: 2px solid #fff;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}
/* line 321, ../sass/_local.scss */
.slide-button.active {
  background-color: #000;
}

/* line 325, ../sass/_local.scss */
.slide-button:hover {
  background-color: #c5c;
}
