/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* core structure */
/* line 5, ../sass/_local.scss */
body {
  background: #000;
  background-image: url("../img/texture.jpg");
  background-repeat: repeat-x;
  font-size: 1em;
  letter-spacing: 0em;
  font-family: serif;
  font-weight: lighter;
  color: #fff;
}

/* line 16, ../sass/_local.scss */
.foreground-container {
  z-index: 1;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  height: 100%;
}
/* line 24, ../sass/_local.scss */
.foreground-container.grey {
  background-color: #aaa;
  padding-top: 100px;
  height: 500px;
}
/* line 28, ../sass/_local.scss */
.foreground-container.grey h1 {
  color: #000;
  font-size: 4em;
  text-align: center;
}
/* line 35, ../sass/_local.scss */
.foreground-container.white {
  background-color: #fff;
  padding-top: 100px;
  height: 500px;
}
/* line 39, ../sass/_local.scss */
.foreground-container.white h1 {
  color: #000;
  font-size: 4em;
  text-align: center;
}
/* line 46, ../sass/_local.scss */
.foreground-container.pink {
  background-color: #f0f;
  padding-top: 100px;
  height: 500px;
}
/* line 50, ../sass/_local.scss */
.foreground-container.pink h1 {
  color: #000;
  font-size: 4em;
  text-align: center;
}

/* line 58, ../sass/_local.scss */
.foreground {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* line 66, ../sass/_local.scss */
#header-container {
  position: relative;
  height: 130px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/* line 74, ../sass/_local.scss */
#header-stripe {
  position: absolute;
  width: 100%;
  height: 130px;
  background: #000;
  opacity: .3;
  z-index: 2;
}

/* line 83, ../sass/_local.scss */
#main-content {
  margin-top: 30px;
  position: relative;
  width: 100%;
  height: 100%;
}

/* MEDIA FEED */
/* line 93, ../sass/_local.scss */
.media-feed-box .tweet-divider {
  border-bottom: 1px dotted #555;
  margin-bottom: 20px;
  margin-top: 20px;
}
/* line 99, ../sass/_local.scss */
.media-feed-box p {
  min-height: 70px;
  clear: both;
}
/* line 103, ../sass/_local.scss */
.media-feed-box .icon-logo {
  width: 50px;
  margin: 20px;
  margin-left: 0px;
  margin-top: 0px;
  float: left;
  border: 1px solid #fff;
}

/* line 112, ../sass/_local.scss */
.media-feed-title {
  position: relative;
  height: 40px;
  top: -40px;
  vertical-align: bottom;
}
/* line 119, ../sass/_local.scss */
.media-feed-title .media-feed-icon {
  margin-left: 10px;
}
/* line 122, ../sass/_local.scss */
.media-feed-title h1 {
  position: relative;
  top: -24px;
  font-size: 1.4em;
  font-style: italic;
  text-align: right;
  color: #555;
}

/* line 133, ../sass/_local.scss */
h12 {
  font-size: 2em;
  position: relative;
  top: -40px;
  left: -10px;
  height: 40px;
  padding-top: 6px;
  background-repeat: no-repeat;
  background-position: center top;
  padding-left: 100px;
}

/* line 146, ../sass/_local.scss */
.media-feed-box p {
  font-size: 1em;
  line-height: 1.3em;
  font-family: "helvetica";
}

/* line 153, ../sass/_local.scss */
.content-container {
  width: 90%;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
}
/* line 158, ../sass/_local.scss */
.content-container.first {
  padding-left: 0%;
  padding-right: 10%;
}
/* line 162, ../sass/_local.scss */
.content-container.last {
  padding-left: 10%;
  padding-right: 0%;
}

/* line 167, ../sass/_local.scss */
.content-box-background {
  position: absolute;
  opacity: .4;
  z-index: 1;
  width: 90%;
  background: #000;
  border-top: 2px dotted #ccc;
}

/* line 176, ../sass/_local.scss */
.content-box-foreground {
  position: relative;
  margin: 5%;
  z-index: 2;
  color: #fff;
  padding-bottom: 100px;
}
/* line 182, ../sass/_local.scss */
.content-box-foreground .title {
  font-size: 3em;
}
/* line 185, ../sass/_local.scss */
.content-box-foreground p {
  opacity: .6;
}

/* NAVIGATION  & NEWSLETTER SIGNUP */
/* line 193, ../sass/_local.scss */
#newsletter-signup-container {
  position: absolute;
  font-family: 'Helvetica Neue',Helvetica,Arial,Sans-Serif;
  font-size: .6em;
  font-weight: bold;
  width: 100%;
  top: 10px;
  left: -10px;
}
/* line 202, ../sass/_local.scss */
#newsletter-signup-container input {
  font-size: .7em;
  width: 260px;
  border: 1px solid #666;
  background: #333;
  color: #888;
  padding: 5px;
  height: 18px;
  position: relative;
  top: 10px;
}
/* line 214, ../sass/_local.scss */
#newsletter-signup-container button {
  position: relative;
  top: 10px;
  font-size: .7em;
  background: #444;
  border: 1px solid #888;
  height: 30px;
  padding: 5px;
  color: #aaa;
}

/* line 226, ../sass/_local.scss */
#newsletter-signup {
  border: 2px dotted #444;
  float: right;
  height: 50px;
  width: 380px;
  text-align: center;
}

/* line 234, ../sass/_local.scss */
#navigation-container {
  width: 100%;
  height: 41px;
  z-index: 2;
  font-size: 1.7em;
  position: absolute;
  text-align: right;
  font-weight: lighter;
  letter-spacing: 1px;
}
/* line 244, ../sass/_local.scss */
#navigation-container a {
  height: 20px;
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
  text-decoration: none;
}
/* line 251, ../sass/_local.scss */
#navigation-container a,
#navigation-container a:link,
#navigation-container a:visited {
  color: #fff;
}
/* line 255, ../sass/_local.scss */
#navigation-container a.navon,
#navigation-container a:hover {
  color: #f0f;
  text-decoration: none;
}
/* line 260, ../sass/_local.scss */
#navigation-container .main-navigation {
  position: absolute;
  top: 84px;
  width: 100%;
  list-style: none;
}
/* line 267, ../sass/_local.scss */
#navigation-container li {
  display: inline-block;
  padding-right: 40px;
}

/* LOGO */
/* line 275, ../sass/_local.scss */
#logo-container {
  z-index: 10;
  position: absolute;
  margin-top: 5px;
  left: 0px;
  width: 550px;
  height: 150px;
}

/* line 284, ../sass/_local.scss */
.logo {
  position: absolute;
  left: 10px;
  top: 25px;
  font-family: "Trebuchet MS";
  font-size: 1.1em;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0em;
  z-index: 3;
  opacity: 1;
}

/* line 297, ../sass/_local.scss */
.logo-201 {
  font-size: 1.9em;
  position: relative;
  top: -38px;
  left: 2px;
}

/* line 303, ../sass/_local.scss */
.logo-digital {
  font-size: 3.9em;
  position: relative;
  left: -10px;
}

/* line 308, ../sass/_local.scss */
.logo-co-uk {
  font-size: 1.2em;
  position: relative;
  left: -10px;
}

/* line 313, ../sass/_local.scss */
.logo-marketing {
  color: #f0f;
  font-size: 1.1em;
  position: relative;
  left: -168px;
  font-weight: normal;
  letter-spacing: 0em;
  top: 18px;
  text-shadow: none;
}

/* line 326, ../sass/_local.scss */
.logo-co-uk,
.logo-201,
.logo-digital {
  text-shadow: 0px 0px 20px magenta;
}

/* line 330, ../sass/_local.scss */
.logo-marketing {
  color: #f0f;
}

/* POWER SLIDES */
/* line 338, ../sass/_local.scss */
#power-content {
  overflow: hidden;
  position: relative;
  margin-top: 30px;
  width: 100%;
  min-height: 300px;
  font-family: serif;
}

/* line 348, ../sass/_local.scss */
.slide {
  z-index: 2;
  position: absolute;
  top: -400px;
  opacity: .9;
  width: 100%;
  min-height: 300px;
  font-style: italic;
}
/* line 357, ../sass/_local.scss */
.slide .title {
  font-size: 6em;
}
/* line 361, ../sass/_local.scss */
.slide .subtitle {
  font-size: 3em;
}
/* line 365, ../sass/_local.scss */
.slide.centerslide {
  text-align: center;
  padding-top: 80px;
}
/* line 371, ../sass/_local.scss */
.slide.fromright {
  top: 0px;
  left: 100%;
}

/* line 376, ../sass/_local.scss */
#paused-slide-container {
  z-index: 10;
  position: absolute;
  width: 100%;
  min-height: 300px;
}

/* line 382, ../sass/_local.scss */
.slide-background {
  position: absolute;
  top: -400px;
  height: 300px;
  width: 100%;
  background: #000;
  opacity: .3;
  z-index: 1;
}

/* line 391, ../sass/_local.scss */
.slide-foreground {
  width: 100%;
  height: 300px;
  position: absolute;
  padding: 20px;
  z-index: 2;
  top: -300px;
}

/* line 399, ../sass/_local.scss */
.slide-content {
  padding: 50px;
}
/* line 403, ../sass/_local.scss */
.slide-content p {
  font-family: "trebuchet MS";
  color: #ccc;
  padding-right: 250px;
  padding-top: 20px;
  letter-spacing: .1em;
  font-size: 1.2em;
  padding-left: 20px;
}

/* line 414, ../sass/_local.scss */
.slide-img {
  position: absolute;
  width: 200px;
  top: 40px;
  right: 40px;
}

/* line 421, ../sass/_local.scss */
.subslide {
  position: relative;
  z-index: 2;
}
/* line 425, ../sass/_local.scss */
.subslide .title {
  font-size: 6em;
  padding-left: 20px;
  padding-top: 10px;
}
/* line 430, ../sass/_local.scss */
.subslide .subtitle {
  padding-top: 10px;
  padding-left: 100px;
  font-size: 2em;
  color: #555;
}
/* line 436, ../sass/_local.scss */
.subslide .subtitle.line2 {
  padding-top: 0px;
  padding-left: 120px;
}

/* line 444, ../sass/_local.scss */
.subslide.subslide2 .slide-img {
  z-index: 1;
  position: absolute;
  right: 0px;
  top: 30px;
  width: 470px;
}
/* line 451, ../sass/_local.scss */
.subslide.subslide2 .subtitle {
  padding-left: 70px;
}
/* line 454, ../sass/_local.scss */
.subslide.subslide2 .subtitle.line2 {
  padding-left: 180px;
}

/* line 462, ../sass/_local.scss */
.subslide.subslide3 .subtitle {
  padding-left: 110px;
}
/* line 466, ../sass/_local.scss */
.subslide.subslide3 .subtitle.line2 {
  padding-left: 160px;
}
/* line 471, ../sass/_local.scss */
.subslide.subslide3 .slide-img {
  width: 230px;
}

/* line 478, ../sass/_local.scss */
.subslide.subslide4 .subtitle {
  padding-left: 90px;
}
/* line 480, ../sass/_local.scss */
.subslide.subslide4 .subtitle.line2 {
  padding-left: 120px;
}
/* line 485, ../sass/_local.scss */
.subslide.subslide4 .slide-img {
  width: 250px;
  right: 60px;
}

/* line 492, ../sass/_local.scss */
.subslide.subslide5 .subtitle.line2 {
  padding-left: 180px;
}
/* line 496, ../sass/_local.scss */
.subslide.subslide5 .slide-img {
  width: 360px;
}

/* line 501, ../sass/_local.scss */
.subslide.subslide6 .subtitle {
  padding-left: 80px;
}
/* line 504, ../sass/_local.scss */
.subslide.subslide6 .subtitle.line2 {
  padding-left: 160px;
}
/* line 509, ../sass/_local.scss */
.subslide.subslide6 .slide-img {
  top: 50px;
  width: 301px;
}

/* line 514, ../sass/_local.scss */
.subslide {
  position: absolute;
  top: 0px;
  width: 100%;
  float: right;
}
/* line 519, ../sass/_local.scss */
.subslide.subslide1 {
  left: 0;
}
/* line 522, ../sass/_local.scss */
.subslide.subslide2 {
  left: 100%;
}
/* line 525, ../sass/_local.scss */
.subslide.subslide3 {
  left: 200%;
}
/* line 528, ../sass/_local.scss */
.subslide.subslide4 {
  left: 300%;
}
/* line 531, ../sass/_local.scss */
.subslide.subslide5 {
  left: 400%;
}
/* line 534, ../sass/_local.scss */
.subslide.subslide6 {
  left: 500%;
}

/* line 539, ../sass/_local.scss */
#slide-buttons {
  width: 100%;
  text-align: right;
  right: 70px;
  padding: 20px;
  z-index: 10;
  opacity: .5;
  font-family: sans-serif;
  font-size: .7em;
  position: relative;
  top: -10px;
}
/* line 550, ../sass/_local.scss */
#slide-buttons .slide-button {
  cursor: pointer;
  display: inline-block;
  height: 8px;
  width: 8px;
  padding-left: 2px;
  padding-bottom: 2px;
  border: 2px solid #999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 562, ../sass/_local.scss */
#slide-buttons .slide-button.active, #slide-buttons .slide-button:hover {
  background-color: #fff;
}
/* line 567, ../sass/_local.scss */
#slide-buttons .pause-button {
  text-align: center;
}
