.logo.red.hidden,
.logo.blue.hidden,
.logo.yellow.hidden,
.logo.purple.hidden,
.logo-shadow.hidden,
.power-message-shadow.hidden,
.hidden {
    opacity:0;
    @include transition(opacity 
$slideTransitionSpeed);
}

#logo-container {
    z-index:10;
    position:absolute;
    margin-top:10px;
    left:0px;
    width:550px;
    height:150px;
}

.logo-shadow {
    &.yellow {
	@include box-shadow(#fc0 0px 0px 200px 120px);
    }
    &.purple {
	@include box-shadow(#f0f 0px 0px 200px 120px);
    }
    &.red {
	@include box-shadow(#f00 0px 0px 300px 180px);
    }
    &.blue {
	@include box-shadow(#00f 0px 0px 300px 180px);
    }
    opacity:.2;
    width:200px;
    left:120px;
    z-index:2;
    position:absolute;
    @include transition(opacity $slideTransitionSpeed);
}

.logo {
    position:absolute;
    left:50px;
    top:25px;
    font-family:"Trebuchet MS";
    font-size:1.1em;
    font-weight:bold;
    color:#fff;
    letter-spacing:0em;
    z-index:3;
    opacity:.9;
    @include transition(opacity $slideTransitionSpeed);

}
.logo-201 {
    font-size:1.9em;
    position:relative;
    top:-38px;
    left:2px; 
}
.red {
    .logo-co-uk,
    .logo-201,
    .logo-digital {
	@include text-shadow(0px 0px 20px #f00);
    }
    .logo-marketing {
	color:#e00;
    }
}
.blue {
    .logo-co-uk,
    .logo-201,
    .logo-digital {
	@include text-shadow(0px 0px 20px #00f);
    }
    .logo-marketing {
	color:#55f;
    }
}
.yellow {
    .logo-co-uk,
    .logo-201,
    .logo-digital {
	@include text-shadow(0px 0px 20px #fc0);
    }
    .logo-marketing {
	color:#fc0;
    }
}
.purple {
    .logo-co-uk,
    .logo-201,
    .logo-digital {
	@include text-shadow(0px 0px 20px #f0f);
    }
    .logo-marketing {
	color:#f0f;
    }
}

.logo-digital {
    font-size:3.9em;
    position:relative;
    left:-10px;
}
.logo-co-uk {
    font-size:1.2em;
    position:relative;
    left:-10px;
}
.logo-marketing {
    color:#f0f;
    font-size:1.1em;
    position:relative;
    left:-168px;
    font-weight:normal;
    letter-spacing:0em;
    top:18px;
    @include text-shadow(none);
}
